.floatingForm {
    position: absolute;
    width: 300px;
    /*height: 100%;*/
    background-color: white;
    z-index: 2;
    border: solid black 1px;
}

.red {
    color: red;
}

.true {
    color: lightgrey;
}

.children {
    width: 400px;
    height: 40px;
}

.children p {
    float: left;
    font-size: 1.5em;
}
.children button {
    float: right;
}

.TemplateRow {
  margin-left: 20px;
  height: 40px;
}

.TemplateRow a {
  width: 200px;
  display: inline-block;
}

/*.tree {
  width: 500px;
  height: 500px;
  background-color: lightgrey;
  margin-left: 10px;
}

.treerow {
  margin-left: 15px;
}

.treerow.hidden {
  display: none;
}

.treerow.deleted {
  color: lightgrey
}*/

/*.tree p {
  margin-left: 100px;
}*/
