*.py[co]
*.pyo
*~
/dist/
/ESSArch_Core.egg-info/
MANIFEST
.idea/
.settings/
tools.db
.DS_Store

# python virtual environment
/venv/

# IntelliJ Idea
/.idea/

# Coverage default folders 
.coverage
htmlcov/
