*.py[co]
*.pyo
*~
*.swp
.envrc
.vscode
/dist/
*.egg-info
MANIFEST
.idea/
.settings/
tools.db
.DS_Store
db.sqlite

# docker
docker/config
docker/data
docker/log

# python virtual environment
/venv/

# JetBrains IDEs
/.idea/

# Coverage default folders
.coverage
htmlcov/
