*.py[co]
*.pyo
*~
/dist/
/ESSArch_Core.egg-info/
MANIFEST
.idea/
.settings/
tools.db
.DS_Store

# python virtual environment
/venv/

# JetBrains IDEs
/.idea/

# Coverage default folders 
.coverage
htmlcov/

# Vagrant files
.vagrant/
/vagrant/*.log
