sudo: required
language: python
cache: pip

branches:
  only:
  - master

templates:
  mariadb: &mariadb DB_PACKAGES=",mysql" DATABASE_URL="mysql://root@localhost/essarch?isolation_level=read committed"
  mysql: &mysql DB_PACKAGES=",mysql" DATABASE_URL="mysql://root@localhost/essarch?isolation_level=read committed"
  postgres: &postgres DB_PACKAGES=",postgres" DATABASE_URL="postgres://postgres@localhost/essarch?isolation_level=read committed"
  mssql: &mssql DB_PACKAGES=",mssql" DATABASE_URL="mssql://SA:MyPassword42@localhost:1433/essarch?isolation_level=read committed&driver=ODBC Driver 17 for SQL Server"

matrix:
  include:
#    - env: FLAKE8
#      python: "3.6"
#      install: pip install flake8==3.7.1
#      script: flake8
#      after_success: skip
#
#    - python: "3.6"
#      dist: trusty
#
#    - python: "3.6"
#      dist: trusty
#      services: docker
#      before_install:
#        - docker pull mcr.microsoft.com/mssql/server:2017-latest-ubuntu
#        - docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=MyPassword42' -p 1433:1433 -d mcr.microsoft.com/mssql/server:2017-latest-ubuntu
#        - curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
#        - curl https://packages.microsoft.com/config/ubuntu/14.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
#        - sudo apt-get update
#        - sudo ACCEPT_EULA=Y apt-get install msodbcsql17
#      env:
#        - *mssql
#
#    - python: "3.6"
#      dist: trusty
#      services:
#        - mariadb
#      env: *mariadb
#
#    - python: "3.6"
#      dist: trusty
#      services:
#        - mysql
#      env: *mysql
#
#    - python: "3.6"
#      dist: trusty
#      services:
#        - postgres
#      env: *postgres
#
#    - os: windows
#      language: sh
#      python: "3.6"
#      before_install:
#        - wget https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases/download/2018-10-03/gtk3-runtime-3.24.1-2018-10-03-ts-win64.exe
#        - powershell 'Start-Process -FilePath "gtk3-runtime-3.24.1-2018-10-03-ts-win64.exe" -Wait -PassThru -ArgumentList /S'
#        - choco install python3 --version 3.6.6
#        - choco install imagemagick
#        - export PATH="/c/Program Files/GTK3-Runtime Win64/bin:/c/Python36:/c/Python36/Scripts:$PATH"

    - os: windows
      language: sh
      python: "3.6"
      services: docker
      before_install:
        - powershell 'get-command docker -ShowCommandInfo'
        - which docker
        - powershell '& $Env:ProgramFiles\Docker\Docker\DockerCli.exe -SwitchDaemon'
        - docker --version
        - docker pull mcr.microsoft.com/mssql/server:2017-latest-ubuntu
        - docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=MyPassword42' -p 1433:1433 -d mcr.microsoft.com/mssql/server:2017-latest-ubuntu
        #- docker pull microsoft/mssql-server-windows-developer:2017-latest
        #- docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=MyPassword42' -p 1433:1433 -d microsoft/mssql-server-windows-developer:2017-latest
        - wget https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases/download/2018-10-03/gtk3-runtime-3.24.1-2018-10-03-ts-win64.exe
        - powershell 'Start-Process -FilePath "gtk3-runtime-3.24.1-2018-10-03-ts-win64.exe" -Wait -PassThru -ArgumentList /S'
        - choco install python3 --version 3.6.6
        - choco install imagemagick
        - export PATH="/c/Program Files/GTK3-Runtime Win64/bin:/c/Python36:/c/Python36/Scripts:$PATH"
      env:
        - *mssql

#    - env: PRETTIER
#      language: node_js
#      node_js: "10"
#      dist: trusty
#      before_install: cd ESSArch_Core/frontend
#      install: yarn
#      script: yarn prettier --check "**/*.{js,scss,html}"
#      after_success: skip

install:
  - python -m pip install --upgrade pip wheel codecov setuptools
  - pip install -e .["tests,s3$DB_PACKAGES"]

script:
  - coverage run ESSArch_Core/manage.py test -v2

after_success:
  - bash <(curl -s https://codecov.io/bash) -c -F backend
