sudo: required
language: python
dist: xenial

cache:
  yarn: true
  directories:
    - "${HOME}/virtualenv/python$(python -c 'import platform; print(platform.python_version())')"

branches:
  only:
    - master

stages:
  - lint
  - test

templates:
  mariadb: &mariadb DB_PACKAGES=",mysql" DATABASE_URL="mysql://root@localhost/essarch?isolation_level=read committed"
  mysql: &mysql DB_PACKAGES=",mysql" DATABASE_URL="mysql://root@localhost/essarch?isolation_level=read committed"
  postgres: &postgres DB_PACKAGES=",postgres" DATABASE_URL="postgres://postgres@localhost/essarch?isolation_level=read committed"
  mssql: &mssql DB_PACKAGES=",mssql" DATABASE_URL="mssql://SA:MyPassword42@localhost:1433/essarch?isolation_level=read committed&driver=ODBC Driver 17 for SQL Server"

matrix:
  include:
    - name: "flake8"
      stage: lint
      python: "3.6"
      install: pip install flake8==3.7.1
      script: flake8
      after_success: skip

    - name: "isort"
      stage: lint
      python: "3.6"
      install: pip install isort==4.3.20
      script: isort --recursive --check-only --diff ESSArch_Core
      after_success: skip

    - name: "Linux with SQLite"
      stage: test
      python: "3.6"
      env:
        - REDIS_CLIENT_CLASS="fakeredis.FakeRedis"
        - DJANGO_REDIS_CONNECTION_FACTORY="ESSArch_Core.cache.connection.FakeConnectionFactory"

    - name: "Linux with MSSQL"
      stage: test
      python: "3.6"
      services: docker
      before_install:
        - sudo mkdir -p /ESSArch/log/
        - sudo chmod 777 /ESSArch/log/
        - docker pull mcr.microsoft.com/mssql/server:2017-latest-ubuntu
        - docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=MyPassword42' -p 1433:1433 -d mcr.microsoft.com/mssql/server:2017-latest-ubuntu
        - curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
        - curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
        - sudo apt-get update
        - sudo ACCEPT_EULA=Y apt-get install msodbcsql17 unixodbc-dev
      env:
        - *mssql
        - REDIS_CLIENT_CLASS="fakeredis.FakeRedis"
        - DJANGO_REDIS_CONNECTION_FACTORY="ESSArch_Core.cache.connection.FakeConnectionFactory"

    - name: "Linux with MariaDB"
      stage: test
      python: "3.6"
      addons:
        mariadb: "10.3"
      env:
        - *mariadb
        - REDIS_CLIENT_CLASS="fakeredis.FakeRedis"
        - DJANGO_REDIS_CONNECTION_FACTORY="ESSArch_Core.cache.connection.FakeConnectionFactory"

    - name: "Linux with MySQL"
      stage: test
      python: "3.6"
      services:
        - mysql
      env:
        - *mysql
        - REDIS_CLIENT_CLASS="fakeredis.FakeRedis"
        - DJANGO_REDIS_CONNECTION_FACTORY="ESSArch_Core.cache.connection.FakeConnectionFactory"

    - name: "Linux with PostgreSQL"
      stage: test
      python: "3.6"
      services:
        - postgresql
      env:
        - *postgres
        - REDIS_CLIENT_CLASS="fakeredis.FakeRedis"
        - DJANGO_REDIS_CONNECTION_FACTORY="ESSArch_Core.cache.connection.FakeConnectionFactory"

    - name: "Windows with MSSQL"
      stage: test
      os: windows
      language: sh
      python: "3.6"
      services: docker
      before_install:
        - mkdir -p /c/ESSArch/log/
        - docker pull christianacca/mssql-server-windows-express:1803
        - docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=MyPassword42' -p 1433:1433 -d christianacca/mssql-server-windows-express:1803
        - wget https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases/download/2018-10-03/gtk3-runtime-3.24.1-2018-10-03-ts-win64.exe
        - powershell 'Start-Process -FilePath "gtk3-runtime-3.24.1-2018-10-03-ts-win64.exe" -Wait -PassThru -ArgumentList /S'
        - wget https://download.microsoft.com/download/E/6/B/E6BFDC7A-5BCD-4C51-9912-635646DA801E/en-US/msodbcsql_17.3.1.1_x64.msi
        - powershell "Start-Process msiexec.exe -Wait -ArgumentList '/I msodbcsql_17.3.1.1_x64.msi /qn /norestart IACCEPTMSODBCSQLLICENSETERMS=YES'"
        - choco install python3 --version 3.6.6
        - choco install imagemagick
        - export PATH="/c/Program Files/GTK3-Runtime Win64/bin:/c/Python36:/c/Python36/Scripts:$PATH"
      env:
        - *mssql
        - REDIS_CLIENT_CLASS="fakeredis.FakeRedis"
        - DJANGO_REDIS_CONNECTION_FACTORY="ESSArch_Core.cache.connection.FakeConnectionFactory"

    - env: PRETTIER
      stage: lint
      language: node_js
      node_js: "10"
      before_install: cd ESSArch_Core/frontend/static/frontend
      install: yarn
      script: yarn prettier --check "**/*.{ts,js,scss,html}"
      after_success: skip

before_install:
  - sudo mkdir -p /ESSArch/log/
  - sudo chmod 777 /ESSArch/log/

install:
  # Pin six to avoid dependency errors,
  # see https://github.com/pypa/pip/issues/4887

  - pip uninstall -y six
  - pip install six>=1.12.0
  - python -m pip install --upgrade pip wheel codecov setuptools
  - pip install -e .["tests,s3$DB_PACKAGES"]

script:
  - coverage run ESSArch_Core/manage.py test -v2

after_success:
  - bash <(curl -s https://codecov.io/bash) -c -F backend
