branches:
  only:
    - master

environment:
  matrix:
    - PYTHON: "C:\\Python27-x64"
    - PYTHON: "C:\\Python36-x64"
    
platform:
  - x64

install:
  - ps: $source = "https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases/download/2018-10-03/gtk3-runtime-3.24.1-2018-10-03-ts-win64.exe"
  - ps: $destination = "gtk3-runtime.exe"
  - ps: Invoke-WebRequest $source -OutFile $destination
  - ps: Start-Process -FilePath "gtk3-runtime.exe" -Wait -PassThru -ArgumentList /S

  - "%PYTHON%\\python.exe -m pip install -U wheel"
  - "%PYTHON%\\python.exe -m pip install -e ."
  - "%PYTHON%\\python.exe -m pip uninstall -y jsonfield django-jsonfield"
  - "%PYTHON%\\python.exe -m pip install django-jsonfield"
  
  - cmd: nuget install redis-64 -excludeversion
  - cmd: redis-64\tools\redis-server.exe --service-install
  - cmd: redis-64\tools\redis-server.exe --service-start

build: off

before_test:
  - cd ESSArch_Core

test_script:
  # Put your test command here.
  - set PATH=C:\Program Files\GTK3-Runtime Win64\bin;%PATH%
  - "%PYTHON%\\python.exe manage.py test -v2"
