.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  * {
    margin-right: 3px;
  }
}

.align-items-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content- {
  &end {
    justify-content: flex-end;
  }
}
