// Paddings

.p-0 {
  padding: 0;
}

.m-5px {
  margin: 5px;
}

.pr-0 {
  padding-right: 0 !important;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-base,
.py-base,
.pt-base {
  padding-top: $padding-base-vertical;
}

.p-base,
.py-base,
.pb-base {
  padding-bottom: $padding-base-vertical;
}

.p-base,
.px-base,
.pl-base {
  padding-left: $padding-base-horizontal;
}

.p-base,
.px-base,
.pr-base {
  padding-right: $padding-base-horizontal;
}

.pl-lg-base {
  @include large-screen-up {
    padding-left: $padding-base-horizontal !important;
  }
}

.pr-lg-base {
  @include large-screen-up {
    padding-right: $padding-base-horizontal !important;
  }
}

// Margins

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.margin-top-5 {
  margin-top: 5px;
}

.mb-base {
  margin-bottom: $padding-base-vertical;
}

.m-base,
.mx-base,
.ml-base {
  margin-left: $padding-base-horizontal;
}
