.prepare-sip {
  .static-form .formly {
    display: flex;
    justify-content: flex-start;
  }
  .static-form .formly-field {
  }
  .edit-view {
    border-style: none;
  }
  .items-per-page {
    width: 15%;
  }
  .package-information {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $border-color;
    margin: 5px;
  }
  .package-dependencies {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $border-color;
    margin: 5px;
  }
  .static-form {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $border-color;
    margin: 5px;
  }
  .included-profiles {
    .formly {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .formly-field {
      min-width: 105px;
      width: 10%;
    }
  }
  .validators {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $border-color;
    margin: 5px;
  }
}
