<label
  class="control-label"
  for="{{::id}}"
  uib-tooltip="{{options.templateOptions.desc}}"
  tooltip-placement="auto top"
  tooltip-append-to-body="true"
  >{{to.label}} {{to.required ? '*' : ''}}</label
>
<div ng-class="{'input-group': to.clearEnabled}">

  <!-- Single selection -->

  <ui-select
    ng-if="to.multiple !== true"
    ng-model="model[options.key]"
    theme="bootstrap"
    sortable="true"
    required="{{options.templateOptions.required}}"
    append-to-body="options.templateOptions.appendToBody && options.templateOptions.appendToBody == true"
  >
    <ui-select-match ng-attr-placeholder="{{options.templateOptions.placeholder}}"
      >{{$select.selected[options.templateOptions.labelProp]}}</ui-select-match
    >
    <ui-select-choices
      ng-hide="!$select.open"
      refresh-delay="300"
      ng-init="filterObject = {}; filterObject[options.templateOptions.valueProp] = $select.search;"
      refresh="options.templateOptions.refresh($select.search)"
      repeat="x[options.templateOptions.valueProp] as x in options.templateOptions.options() | propsFilter: filterObject"
    >
      <div ng-bind-html="x[options.templateOptions.labelProp] | highlight: $select.search"></div>
    </ui-select-choices>
    <ui-select-no-choice>
      <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
    </ui-select-no-choice>
  </ui-select>

  <!-- Multiple selection -->

  <ui-select
    ng-if="to.multiple === true"
    multiple
    ng-model="model[options.key]"
    theme="bootstrap"
    sortable="true"
    required="{{options.templateOptions.required}}"
    append-to-body="options.templateOptions.appendToBody && options.templateOptions.appendToBody == true"
  >
    <ui-select-match ui-lock-choice="$item.disabled == true" ng-attr-placeholder="{{options.templateOptions.placeholder}}"
      >{{$item[options.templateOptions.labelProp]}}</ui-select-match
    >
    <ui-select-choices
      ng-hide="!$select.open"
      refresh-delay="300"
      ng-init="filterObject = {}; filterObject[options.templateOptions.valueProp] = $select.search;"
      refresh="options.templateOptions.refresh($select.search)"
      repeat="x[options.templateOptions.valueProp] as x in options.templateOptions.options() | propsFilter: filterObject"
    >
      <div ng-bind-html="x[options.templateOptions.labelProp] | highlight: $select.search"></div>
    </ui-select-choices>
    <ui-select-no-choice>
      <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
    </ui-select-no-choice>
  </ui-select>

  <!-- Clear button -->

  <span ng-if="to.clearEnabled" class="input-group-btn">
    <button type="button" ng-click="model[options.key] = null" class="btn btn-sm btn-default">
      <span class="fas fa-trash-alt"></span>
    </button>
  </span>
</div>
