<!doctype html>
<html ng-app="generateForm" ng-controller="MainController as vm">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/templateMaker/angular/bootstrap/dist/css/bootstrap.css">

        <!--Angular Scripts -->
        <script src="/static/templateMaker/angular/api-check/dist/api-check.js"></script>
        <script src="/static/templateMaker/angular/angular/angular.js"></script>
        <script src="/static/templateMaker/angular/angular-formly/dist/formly.js"></script>
        <script src="/static/templateMaker/angular/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
        <!--Django-->
        <script type="text/javascript">
           var templateName = "{{templateName}}";
        </script>
        <!--App -->
        <script src="/static/templateMaker/scripts/GenerateApp.js"></script>

    </head>
    <body>

    <div class="container col-md-4">
        <form onsubmit="return false;">
            {% csrf_token %}
            <formly-form model="vm.model" fields="vm.fields" form="vm.form">
                <button type="button" class="btn btn-success" ng-click="vm.onSubmit()" ng-disabled="vm.form.$invalid">Generate</button>
            </formly-form>
        </form>
    </div>

    </body>
</html>
