<!doctype html>
<html>
    <head>
      <title>TemplateMaker</title>
    </head>
    <body>
      <div>
        <p>Names:</p>
        {% for tp in templates %}
        <div>
          <a href="{% url 'template_edit' name=tp.name %}">{{tp.name}}</a>
            <!-- <a href="{% url 'generate_template' name=tp.name %}">{{tp.name}}</a> -->
          <input type="button" onclick="location.href='{% url 'generate_template' name=tp.name %}';" value="Generate" />
          <input type="button" value="Delete"/>
        </div>
        {% endfor %}
        <a href="{% url 'template_add' %}">Create new template</a>
      </div>
    </body>
</html>
