<!doctype html>
<html ng-app="index" ng-controller="MainController as vm">
    <head>
      <link rel="stylesheet" type="text/css" href="/static/templateMaker/bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/static/templateMaker/scripts/style.css">

      <!--Angular Scripts -->
      <script src="/static/templateMaker/bower_components/api-check/dist/api-check.js"></script>
      <script src="/static/templateMaker/bower_components/angular/angular.js"></script>

      <script src="/static/templateMaker/scripts/indexApp.js"></script>
      <title>TemplateMaker</title>
    </head>
    <body>
      <div>
        <h1>Templates</h1>
        {% for tp in templates %}
        <div class="TemplateRow">
          <a href="{% url 'template_edit' name=tp.name %}">{{tp.name}}</a>
            <!-- <a href="{% url 'generate_template' name=tp.name %}">{{tp.name}}</a> -->
          <input class="btn btn-primary" type="button" onclick="location.href='{% url 'generate_template' name=tp.name %}';" value="Generate" />
          <input class="btn btn-danger" type="button" ng-click="vm.delete('{{tp.name}}')" value="Delete"/>
        </div>
        {% endfor %}
        <a class="btn btn-success" href="{% url 'template_add' %}">Create new template</a>
      </div>
    </body>
</html>
