trailingComma: "es5"
endOfLine: "lf"
printWidth: 119
tabWidth: 4
semi: true
singleQuote: true
bracketSpacing: false
overrides:
  - files: "*.html"
    options:
      singleQuote: false
      parser: "angular"
  - files: "*.scss"
    options:
      parser: "scss"
