.btn-dark {
    background-color: darken($header-color, 5%);
    color: white;
    border-color: darken($header-color, 7%);
    &:hover, &:focus {
        color: white;
        border-color: darken($header-color, 6%);
        background-color: darken($header-color, 4%);
    }
    outline: 0;
}
