.header {
  background-color: $header-color;
  color: white;
  padding: 10px;
  box-shadow: 0px 5px 2px $shadow-color;
}

.glyphicon-triangle-bottom {
  cursor: pointer;
}

.logo-search-user-admin-wrapper {
  width: 100%;
  height: 50px;
}

.logo {
  height: 100%;
  display: inline-block;
  @include small-screen {
    width: 85%;
  }
}

.page-title {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  @include small-screen {
    display: none;
  }
}

.page-title-small {
  display: none;
  margin-left: 50%;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  @include small-screen {
    display: inline-block;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}
.search > .search-input {
  border-radius: 10px;
  margin-right: 5px;
}

.user-admin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  float: right;
  @include small-screen {
    position: absolute;
    top: 34px;
    right: 10px;
    height: 0;
  }
}

.user-dropdown {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  align-items: center;
  border: none;
  p {
    margin: 0 5px 0 0;
  }
  .fa-user {
    margin-right: 5px;
  }
}

.menu-task-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tasks-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  min-width: 200px;
  height: 100%;
  @include medium-screen {
    min-width: 0px;
    .organization-select {
      display: none;
    }
    .language-select {
      display: none;
    }
  }
  @include small-screen {
    min-width: 0px;
    .organization-select {
      display: none;
    }
    .language-select {
      display: none;
    }
    .fa,
    .fas {
      display: none;
    }
    .unseen-text {
      display: none;
    }
  }
  .fa,
  .fas,
  .far {
    color: #fff;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.notification-icon {
  @include large-screen-up {
    position: relative;
  }
  @include medium-screen {
    position: relative;
  }
  cursor: pointer;
  .unseen-text {
    width: auto;
    position: absolute;
    color: white;
    height: 12px;
    top: -5px;
    right: -3px;
    border-radius: 2px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: $step-fail;
    font-size: 10px;
    margin-left: 10px;
  }
}

.hamburger {
  display: none;
  user-select: none;
  @include medium-screen-down {
    margin-right: 5px;
    display: inline;
    cursor: pointer;
  }
  @include small-screen {
    position: absolute;
    top: 19px;
  }
}

.active-hamburger {
  display: none;
  @include medium-screen-down {
    display: block !important;
    min-width: 180px;
  }
}

.language-select {
  min-width: 100px;
}

.organization-member-select {
  max-width: 100px;
  min-width: 76px;
  margin-left: 10px;
}

.username {
  display: inline;
  @include small-screen {
    display: none;
  }
}
