.login {
    .login-header {
        background-color: $header-color;
        color: white;
        height: 60px;
        padding-left: 15px;
        h3 {
            height: inherit;
            display: table-cell;
            margin: 0;
            vertical-align: middle;
            font-size: 23px;
        }
    }
    .login-box {
        @include container();
        max-width: 400px;
        width: 100%;
        height: 320px;
        background-color: #fff;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    input {
        font-size: 16px;
    }
    .login-body  {
        padding: 15px;
    }
    .form-group {
        width: 100%;
        margin-top: 10px;
    }
    .form-actions {
        width: 100%;
        overflow: hidden;
        margin-top: 10px;
        button {
            width: 100%;
        }
    }
    .alert {
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
        min-height: 34px;
        padding: 7px;
        text-align: center;
    }
    .login-box h2 {
        margin-left: 40px;
    }
}
