body.modal-open {
    overflow: hidden; // Remove scroll on main page when modal is open
    padding-right: 0 !important; // Prevents bootstrap from setting margin-right
    -ms-overflow-style: none; // Remove scroll on main page when modal is open in IE
}

.modal-heading {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.modal-footer {
    background-color: #f4f4f4;
    padding: 10px;
}
