.step-task-pagination {
    user-select: none;
    min-width: 60px;
}

.tree-grid {
    td {
        span {
            text-overflow: ellipsis;
        }
        max-width: 350px;
    }
}

.step-state {
    padding-top: 0 !important;
}

.step-state-success {
    color: white;
    display: inline-block;
    min-width: 55px;
    text-align: center;
    background-color: $step-success;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}

.step-state-failure {
    color: white;
    display: inline-block;
    min-width: 55px;
    text-align: center;
    background-color: $step-fail;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}

.step-state-in-progress {
    color: white;
    display: inline-block;
    min-width: 55px;
    text-align: center;
    background-color: $step-in-progress;
    padding: 3px 10px;
    font-size: 9px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}

.status-tree-grid {
    padding: 5px;
    margin: 5px;
}

.empty-step {
    background-color: rgba(244, 66, 66, 0.30);
    text-align: center;
}

.task-info-modal-head, .step-info-modal-head {
    .refresh-icon {
        align-self: flex-start;
    }
}

.param-value {
    word-break: break-word;
    pre {
        overflow-x: scroll;
        white-space: pre-wrap;
    }
}

.step-task-info {
    .validation-table {
        margin-bottom: 0;
        .failed {
            background-color: $task-validation-bg-red;
            color: $task-validation-text-red;
        }
        .success {
            background-color: $task-validation-bg-green;
            color: $task-validation-text-green;
        }
        .running {
            background-color: $task-validation-bg-yellow;
            color: $task-validation-text-yellow;
        }
    }
}

.traceback {
    max-height: 500px;
    overflow-y: auto;
}
