.cursor-pointer {
    cursor: pointer;
}
.white-space-nowrap {
    white-space: nowrap;
}

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.align-items-end {
    align-items: flex-end;
}

.float-left {
    float: left;
}
