<div class="modal-heading task-info-modal-head">
    <h3
    class="modal-title"
    id="modal-title"
    uib-tooltip="{{ currentStepTask.label && currentStepTask.label !== '' ? currentStepTask.label : currentStepTask.filename }}"
    tooltip-placement="auto top"
    tooltip-append-to-body="true"
  >
    {{ currentStepTask.label && currentStepTask.label !== '' ? currentStepTask.label : currentStepTask.filename }}
  </h3>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">
              {{currentStepTask | json}}
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
  </div>
</div>