<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">
    {{'ARCHIVE_MAINTENANCE.ADD_SEARCH_RESULT_TO_APPRAISAL_JOB' | translate}}
  </h3>
</div>
<form name="$ctrl.form" ng-submit="$ctrl.addSearchToJob()">
  <div class="modal-body" id="modal-body">
    <formly-form model="$ctrl.model" fields="$ctrl.fields" options="{}"></formly-form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" focused="true" ng-disabled="$ctrl.adding">
      {{'ADD' | translate}} <i ng-if="$ctrl.adding" class="fas fa-spinner fa-spin"></i>
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.adding">
      {{'CANCEL' | translate}}
    </button>
  </div>
</form>
