<div class="content-wrapper">
  <div class="list-view">
    <uib-tabset active="vm.activePill" ng-init="vm.activePill = 'migrate'" class="tabs tabs-style-bar">
      <uib-tab index="'migrate'" heading="{{'MIGRATE' | translate}}">
        <div ng-if="vm.activePill === 'migrate' && !vm.initLoad">
          <div st-table="vm.displayedMediums" st-pipe="vm.mediumPipe">
            <div class="title-action-button-row">
              <div class="title">
                <h4>
                  {{'STORAGE_MEDIUMS' | translate}}
                </h4>
              </div>
            </div>
            <div class="search-prepare-wrapper">
              <label for items-per-page></label>
              <select
                id="items-per-page"
                style="margin-right: 10px;"
                class="form-control items-per-page"
                ng-model="vm.mediumsPerPage"
                ng-options="x.value as x.name for x in $root.itemsPerPageOptions"
                uib-tooltip="{{'ITEMSPERPAGE' | translate}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
              ></select>
              <advanced-filters
                type="medium"
                active-model="vm.mediumFilterModel"
                fields="vm.mediumFilterFields"
                update="vm.updateStorageMediums()"
              ></advanced-filters>
              <input
                st-search=""
                class="form-control global-search"
                ng-attr-placeholder="{{'GLOBALSEARCH' | translate}}"
                type="text"
                uib-tooltip="{{'GLOBALSEARCHDESC_MEDIUM' | translate}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
              />
              <button
                type="button"
                ng-click="vm.updateStorageMediums()"
                class="btn btn-primary btn-small"
                style="margin-left: 5px;"
                uib-tooltip="{{'SEARCH' | translate}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
              >
                {{'SEARCH' | translate}}&nbsp;<i class="fas fa-search"></i>
              </button>
              <div class="refresh-icon">
                <span
                  ng-click="vm.updateStorageMediums()"
                  class="clickable angular-animate fas fa-sync-alt fa-lg"
                  ng-class="{'fa-sync-alt-animate': mediumLoading }"
                  uib-tooltip="{{'REFRESHTABLEDESC' | translate}}"
                  tooltip-placement="auto left"
                  tooltip-append-to-body="true"
                ></span>
              </div>
            </div>

            <div id="list-view" class="list-view-table">
              <table class="table table-striped" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th class="clickable" st-sort="medium_id" class="column-label">ID</th>
                    <th class="clickable" st-sort="storage_target" class="column-label">
                      {{'STORAGETARGET' | translate}}
                    </th>
                    <th class="clickable" st-sort="create_date" st-sort-default="reverse" class="column-label">
                      {{'CREATED' | translate}}
                    </th>
                    <th class="clickable" st-sort="status" class="column-label">{{'STATUS' | translate}}</th>
                    <th class="clickable" st-sort="location" class="column-label">{{'LOCATION' | translate}}</th>
                    <th class="clickable" st-sort="location_status" class="column-label">
                      {{'LOCATIONSTATUS' | translate}}
                    </th>
                    <th class="clickable" st-sort="used_capacity" class="column-label">
                      {{'USEDCAPACITY' | translate}}
                    </th>
                    <th class="clickable" st-sort="storage_target.max_capacity" class="column-label">
                      {{'MAXCAPACITY' | translate}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    ng-class="{'selected': vm.mediumSelected(row)}"
                    ng-repeat="row in vm.displayedMediums"
                    ng-attr-context-menu="menuOptions"
                    class="table-item selectable"
                    ng-click="vm.selectMedium(row, $event)"
                  >
                    <td style="white-space: nowrap;">
                      {{row.medium_id}}
                    </td>
                    <td>{{row.storage_target.name}}</td>
                    <td style="white-space: nowrap;">
                      {{row.create_date | date:"yyyy-MM-dd HH:mm:ss"}}
                    </td>
                    <td>{{row.status}}</td>
                    <td style="white-space: nowrap;">
                      {{row.location}}
                    </td>
                    <td>{{row.location_status}}</td>
                    <td>{{row.used_capacity | filesize}}</td>
                    <td class="clickable">
                      {{row.storage_target.max_capacity | filesize}}
                    </td>
                  </tr>
                  <tr ng-if="!vm.displayedMediums.length && !mediumLoading" class="empty-table-indicator">
                    <td colspan="8">{{'NO_RESULTS_FOUND' | translate}}</td>
                  </tr>
                  <tr ng-if="!vm.displayedMediums.length && mediumLoading" class="empty-table-indicator">
                    <td class="loading-column" colspan="8">{{'LOADING' | translate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <td ng-show="!initMediumLoad">
              <div
                class="text-center"
                st-template="static/frontend/views/pagination.html"
                st-pagination=""
                st-items-by-page="vm.mediumsPerPage"
                st-displayed-pages="7"
              ></div>
            </td>
          </div>

          <div ng-if="vm.medium" st-table="vm.displayedIps" st-pipe="vm.callServer">
            <hr />
            <div class="title-action-button-row">
              <div class="title">
                <h4>
                  {{'INFORMATION_PACKAGES' | translate}}
                </h4>
              </div>
              <div class="action-button"></div>
            </div>
            <div class="search-prepare-wrapper">
              <select
                tabindex="-1"
                id="items-per-page"
                ng-change="updateIpsPerPage(vm.itemsPerPage)"
                class="form-control items-per-page"
                ng-model="vm.itemsPerPage"
                ng-options="x.value as x.name for x in $root.itemsPerPageOptions"
                uib-tooltip="{{'ITEMSPERPAGE' | translate}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
              ></select>
              <advanced-filters
                type="ip"
                active-model="vm.columnFilters"
                fields="vm.fields"
                update="getListViewData()"
              ></advanced-filters>
              <div ng-if="!('home.ingest.reception' | isState)" class="global-search">
                <input
                  id="search-input"
                  st-search=""
                  class="form-control"
                  ng-attr-placeholder="{{'GLOBALSEARCH' | translate}}"
                  type="text"
                  uib-tooltip="{{'GLOBALSEARCHDESC_IP' | translate}}"
                  tooltip-placement="auto top"
                  tooltip-append-to-body="true"
                />
              </div>
              <button
                ng-if="!('home.ingest.reception' | isState)"
                type="button"
                ng-click="getListViewData()"
                class="btn btn-primary btn-small"
                style="margin-left: 5px;"
                uib-tooltip="{{'SEARCH' | translate}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
              >
                {{'SEARCH' | translate}}&nbsp;<i class="fas fa-search"></i>
              </button>
              <select
                ng-if="checkPermission('ip.see_all_in_workspaces') && auth.current_organization && (('home.ingest.workarea' | isState) || ('home.access.workarea' | isState))"
                class="form-control organization-member-select"
                ng-model="vm.organizationMember.current"
                ng-options="x as x.username for x in vm.organizationMember.options track by x.id"
                ng-change="getListViewData()"
              ></select>
              <div class="refresh-icon">
                <span
                  ng-click="getListViewData()"
                  class="clickable angular-animate fas fa-sync-alt fa-lg"
                  ng-class="{'fa-sync-alt-animate': ipLoading }"
                  uib-tooltip="{{'REFRESHTABLEDESC' | translate}}"
                  tooltip-placement="auto left"
                  tooltip-append-to-body="true"
                ></span>
              </div>
            </div>

            <div
              id="table-container table-x-overflow"
              tabindex="0"
              ng-keydown="vm.ipListKeydownListener($event)"
              class="list-view-table"
            >
              <table class="table table-striped" style="margin-bottom: 0px;">
                <a
                  ng-if="vm.expandAllVisible() && vm.showExpand"
                  class="pr-base"
                  ng-click="vm.expandAll()"
                  translate="EXPAND_ALL"
                ></a>
                <a
                  ng-if="vm.expandAllVisible() && !vm.showExpand"
                  class="pr-base"
                  ng-click="vm.collapseAll()"
                  translate="COLLAPSE_ALL"
                ></a>
                <a ng-if="(ips.length || ip !== null)" ng-click="vm.deselectAll()" translate="CLEAR_ALL"></a>
                <a
                  ng-if="ips.length == 0 && ip === null && vm.displayedIps.length > 0"
                  ng-click="vm.selectAll()"
                  translate="SELECT_ALL"
                ></a>
                <thead>
                  <tr>
                    <th class="clickable" class="column-label"></th>
                    <th
                      class="clickable"
                      class="column-label"
                      st-sort="{{col.sortString}}"
                      st-sort-default="{{col.sortString == 'create_date'? 'reverse' : ''}}"
                      ng-repeat="col in listViewColumns"
                      uib-tooltip="{{col.label.toUpperCase()+'_DESC' | translate}}"
                      tooltip-placement="auto top"
                      tooltip-append-to-body="true"
                    >
                      <span
                        ng-hide="col.label=='step_state' || col.label == 'storage_status'"
                        style="white-space: nowrap;"
                      >
                        {{col.label.toUpperCase() | translate}}
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    ng-repeat-start="row in vm.displayedIps"
                    ng-class="{'selected': ip.object_identifier_value == row.object_identifier_value || selectedAmongOthers(row.id)}"
                    class="table-item selectable"
                    ng-click="row.package_type !== 1 ? ipTableClick(row, $event) : expandAic(row)"
                    context-menu="menuOptions('row', row)"
                  >
                    <td class="clickable" ng-click="expandAic(row)">
                      <i class="fas fa-plus" ng-if="row.collapsed && row.information_packages.length > 0"></i
                      ><i class="fas fa-minus" ng-if="!row.collapsed && row.information_packages.length > 0"></i>
                    </td>
                    <td ng-repeat="col in listViewColumns">
                      <div ng-include src="col.template"></div>
                    </td>
                  </tr>
                  <tr
                    ng-if="!row.collapsed"
                    ng-repeat="subrow in row.information_packages"
                    ng-repeat-end
                    class="table-item selectable"
                    ng-class="{'selected': ip.object_identifier_value == subrow.object_identifier_value || selectedAmongOthers(subrow.id)}"
                    style="background-color:rgba(50,120,255,.1);"
                    ng-click="ipTableClick(subrow, $event)"
                    context-menu="menuOptions('subrow', subrow)"
                  >
                    <td context-menu="menuOptions('subrow', subrow)"></td>
                    <td
                      ng-repeat="col in listViewColumns"
                      ng-if="!((('home.access.createDip' | isState) && col.label == 'filebrowser'))"
                    >
                      <div ng-include src="col.template"></div>
                    </td>
                  </tr>
                  <tr ng-if="!vm.displayedIps.length && !ipLoading" class="empty-table-indicator">
                    <td colspan="{{listViewColumns.length+1}}">{{'NO_RESULTS_FOUND' | translate}}</td>
                  </tr>
                  <tr ng-if="!vm.displayedIps.length && ipLoading" class="empty-table-indicator">
                    <td class="loading-column" colspan="{{listViewColumns.length+1}}">{{'LOADING' | translate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div ng-show="!initLoad">
              <div
                class="text-center"
                st-template="static/frontend/views/pagination.html"
                st-pagination=""
                st-items-by-page="vm.itemsPerPage"
                st-displayed-pages="7"
              ></div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="'jobs'" heading="{{'MIGRATION_TASKS' | translate}}">
        <div ng-if="vm.activePill === 'jobs'" st-table="vm.displayedJobs" st-pipe="vm.jobsPipe">
          <div class="title-action-button-row">
            <div class="title">
              <h4>
                {{'MIGRATION_TASKS' | translate}}
              </h4>
              <a
                target="_blank"
                class="help-button"
                uib-tooltip="{{'SEE_MORE_INFO_ABOUT_PAGE' | translate}}"
                tooltip-position="top auto"
                href="/docs/{{$translate.use()}}/user_guide/{{vm.getStateDocPage()}}"
              >
                <i class="far fa-question-circle"></i>
              </a>
            </div>
          </div>
          <div class="search-prepare-wrapper">
            <select
              tabindex="-1"
              id="items-per-page"
              class="form-control items-per-page"
              ng-model="vm.jobsPerPage"
              ng-options="x.value as x.name for x in $root.itemsPerPageOptions"
              uib-tooltip="{{'ITEMSPERPAGE' | translate}}"
              tooltip-placement="auto top"
              tooltip-append-to-body="true"
            ></select>

            <div class="global-search">
              <input
                id="search-input"
                st-search=""
                class="form-control"
                ng-attr-placeholder="{{'GLOBALSEARCH' | translate}}"
                type="text"
                uib-tooltip="{{'GLOBALSEARCHDESC_IP' | translate}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
              />
            </div>
            <button
              type="button"
              ng-click="vm.updateJobsList()"
              class="btn btn-primary btn-small"
              style="margin-left: 5px;"
              uib-tooltip="{{'SEARCH' | translate}}"
              tooltip-placement="auto top"
              tooltip-append-to-body="true"
            >
              {{'SEARCH' | translate}}&nbsp;<i class="fas fa-search"></i>
            </button>
            <div class="refresh-icon">
              <span
                ng-click="vm.updateJobsList()"
                class="clickable angular-animate fas fa-sync-alt fa-lg"
                ng-class="{'fa-sync-alt-animate': jobsLoading }"
                uib-tooltip="{{'REFRESHTABLEDESC' | translate}}"
                tooltip-placement="auto left"
                tooltip-append-to-body="true"
              ></span>
            </div>
          </div>

          <div id="table-container table-x-overflow" tabindex="0" class="list-view-table">
            <table class="table table-striped" style="margin-bottom: 0px;">
              <thead>
                <tr>
                  <th
                    class="clickable"
                    st-sort="name"
                    st-sort-default="reverse"
                    uib-tooltip="{{'NAME' | translate}}"
                    tooltip-placement="auto top"
                    tooltip-append-to-body="true"
                  >
                    {{'NAME' | translate}}
                  </th>
                  <th class="clickable" st-sort="status">
                    {{'STATE' | translate}}
                  </th>
                  <th class="clickable" st-sort="progress">
                    {{'STATUS' | translate}}
                  </th>
                  <th class="clickable" st-sort="information_package">
                    {{'INFORMATION_PACKAGE' | translate}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="row in vm.displayedJobs"
                  ng-class="{'selected': ip.id == row.id}"
                  class="table-item selectable"
                  ng-click="taskInfoModal(row)"
                  context-menu="menuOptions('row', row)"
                >
                  <td class="clickable">
                    {{row.label || row.name}}
                  </td>
                  <td class="clickable">
                    {{row.status | translate}}
                  </td>
                  <td class="clickable">
                    <uib-progressbar
                      class="progress"
                      ng-class="{'active progress-striped': row.step_state == 'STARTED'}"
                      animate="false"
                      value="row.progress"
                      type="{{mapStepStateProgress(row)}}"
                      uib-tooltip="{{row.status | translate}}"
                      tooltip-placement="auto top"
                      tooltip-append-to-body="true"
                    >
                      <b>{{row.progress | number : 0}}%</b>
                    </uib-progressbar>
                  </td>
                  <td class="clickable">
                    {{row.information_package}}
                  </td>
                </tr>
                <tr ng-if="!vm.displayedJobs.length && !jobsLoading" class="empty-table-indicator">
                  <td colspan="4">{{'NO_RESULTS_FOUND' | translate}}</td>
                </tr>
                <tr ng-if="!vm.displayedJobs.length && jobsLoading" class="empty-table-indicator">
                  <td class="loading-column" colspan="4">{{'LOADING' | translate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-show="!initLoad">
            <div
              class="text-center"
              st-template="static/frontend/views/pagination.html"
              st-pagination=""
              st-items-by-page="vm.jobsPerPage"
              st-displayed-pages="7"
            ></div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <uib-tabset
    ng-if="vm.activePill === 'migrate' && (ip !== null || ips.length > 0)"
    active="vm.activeTab"
    class="tabs tabs-style-bar"
  >
    <uib-tab index="'migrate'" heading="{{'MIGRATE' | translate}}">
      <div ng-if="vm.activeTab === 'migrate'">
        <div
          tabindex="-1"
          ng-keydown="vm.contentViewsKeydownListener($event)"
          id="select-wrap"
          class="storage-migration-migrate-tab"
        >
          <div>
            <button
              permission
              permission-only="'storage.storage_migration'"
              ng-disabled="ips.length === 0 && ip === null"
              type="button"
              ng-click="vm.migrationModal(ips)"
              class="btn btn-primary"
              uib-tooltip="{{'STARTMIGRATION' | translate}}"
              tooltip-placement="auto left"
              tooltip-append-to-body="true"
            >
              {{'STARTMIGRATION' | translate}}
            </button>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab ng-if="ip !== null && ips.length == 0" index="'tasks'" heading="{{'TASKS' | translate}}">
      <div
        ng-if="vm.activeTab === 'tasks'"
        class="events-status-wrapper"
        tabindex="-1"
        ng-keydown="vm.contentViewsKeydownListener($event)"
      >
        <div class="status-view">
          <state-tree-view ip="ip"></state-tree-view>
        </div>
      </div>
    </uib-tab>
    <uib-tab ng-if="ip !== null && ips.length == 0" index="'events'" heading="{{'EVENT.EVENTS' | translate}}">
      <div
        ng-if="vm.activeTab === 'events'"
        class="events-status-wrapper"
        tabindex="-1"
        ng-keydown="vm.contentViewsKeydownListener($event)"
      >
        <event-table ip="ip"></event-table>
      </div>
    </uib-tab>
    <uib-tab
      ng-if="ip !== null && ips.length == 0 && (row.responsible.id == auth.id || !row.responsible || row.permissions.includes('see_other_user_ip_files'))"
      index="'filebrowser'"
      heading="{{'FILEBROWSER.FILEBROWSER' | translate}}"
    >
      <div
        ng-if="vm.activeTab === 'filebrowser'"
        class="file-browser"
        tabindex="-1"
        ng-keydown="vm.contentViewsKeydownListener($event)"
      >
        <filebrowser ip="ip"></filebrowser>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
