<div class="content-wrapper">
  <div class="list-view" ng-if="!vm.initLoad">
    <div st-table="vm.displayedMediums" st-pipe="vm.mediumPipe">
      <div class="title-action-button-row">
        <div class="title">
          <h4>
            {{'STORAGE_MEDIUMS' | translate}}
          </h4>
        </div>
      </div>
      <div class="search-prepare-wrapper">
        <label for items-per-page></label>
        <select
          id="items-per-page"
          style="margin-right: 10px;"
          class="form-control items-per-page"
          ng-model="vm.itemsPerPage"
          ng-options="x.value as x.name for x in $root.itemsPerPageOptions"
          uib-tooltip="{{'ITEMSPERPAGE' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        ></select>
        <advanced-filters
          type="medium"
          active-model="vm.mediumFilterModel"
          fields="vm.mediumFilterFields"
          update="vm.updateStorageMediums()"
        ></advanced-filters>
        <input
          st-search=""
          class="form-control global-search"
          ng-attr-placeholder="{{'GLOBALSEARCH' | translate}}"
          type="text"
          uib-tooltip="{{'GLOBALSEARCHDESC_MEDIUM' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        />
        <button
          type="button"
          ng-click="vm.updateStorageMediums()"
          class="btn btn-primary btn-small"
          style="margin-left: 5px;"
          uib-tooltip="{{'SEARCH' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        >
          {{'SEARCH' | translate}}&nbsp;<i class="fas fa-search"></i>
        </button>
        <div class="refresh-icon">
          <span
            ng-click="vm.updateStorageMediums()"
            class="clickable angular-animate fas fa-sync-alt fa-lg"
            ng-class="{'fa-sync-alt-animate': mediumLoading }"
            uib-tooltip="{{'REFRESHTABLEDESC' | translate}}"
            tooltip-placement="auto left"
            tooltip-append-to-body="true"
          ></span>
        </div>
      </div>

      <div id="list-view" class="list-view-table">
        <table class="table table-striped" style="margin-bottom: 0px;">
          <thead>
            <tr>
              <th class="clickable" st-sort="medium_id" class="column-label">ID</th>
              <th class="clickable" st-sort="storage_target" class="column-label">
                {{'STORAGETARGET' | translate}}
              </th>
              <th class="clickable" st-sort="create_date" st-sort-default="reverse" class="column-label">
                {{'CREATED' | translate}}
              </th>
              <th class="clickable" st-sort="status" class="column-label">{{'STATUS' | translate}}</th>
              <th class="clickable" st-sort="location" class="column-label">{{'LOCATION' | translate}}</th>
              <th class="clickable" st-sort="location_status" class="column-label">
                {{'LOCATIONSTATUS' | translate}}
              </th>
              <th class="clickable" st-sort="used_capacity" class="column-label">
                {{'USEDCAPACITY' | translate}}
              </th>
              <th class="clickable" st-sort="storage_target.max_capacity" class="column-label">
                {{'MAXCAPACITY' | translate}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-class="{'selected': vm.mediumSelected(row)}"
              ng-repeat="row in vm.displayedMediums"
              ng-attr-context-menu="menuOptions"
              class="table-item selectable"
              ng-click="vm.selectMedium(row, $event)"
            >
              <td style="white-space: nowrap;">
                {{row.medium_id}}
              </td>
              <td>{{row.storage_target.name}}</td>
              <td style="white-space: nowrap;">
                {{row.create_date | date:"yyyy-MM-dd HH:mm:ss"}}
              </td>
              <td>{{row.status}}</td>
              <td style="white-space: nowrap;">
                {{row.location}}
              </td>
              <td>{{row.location_status}}</td>
              <td>{{row.used_capacity | filesize}}</td>
              <td class="clickable">
                {{row.storage_target.max_capacity | filesize}}
              </td>
            </tr>
            <tr ng-if="!vm.displayedMediums.length && !mediumLoading" class="empty-table-indicator">
              <td colspan="8">{{'NO_RESULTS_FOUND' | translate}}</td>
            </tr>
            <tr ng-if="!vm.displayedMediums.length && mediumLoading" class="empty-table-indicator">
              <td class="loading-column" colspan="8">{{'LOADING' | translate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <td ng-show="!initMediumLoad">
        <div
          class="text-center"
          st-template="static/frontend/views/pagination.html"
          st-pagination=""
          st-items-by-page="vm.itemsPerPage"
          st-displayed-pages="7"
        ></div>
      </td>
    </div>
    <div ng-if="vm.selectedMediums.length > 0">
      <hr class="small" />
      <div class="d-flex justify-content-end">
        <button class="btn btn-danger" ng-click="vm.deactivateMediumModal(vm.selectedMediums)">
          {{'DEACTIVATE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
