<div>
  <span
    class="fas fa-md fa-filter filter-icon"
    ng-class="{'blue-border': vm.showAdvancedFilters, 'filter-active': vm.filterActive()}"
    ng-click="vm.toggleAdvancedFilters()"
    uib-tooltip="{{'FILTERS' | translate}}"
    tooltip-placement="top"
    tooltip-append-to-body="true"
  >
  </span>
  <div ng-show="vm.showAdvancedFilters" class="advanced-filters">
    <form name="form1" style="position: relative;" novalidate>
      <div class="formly-buttons-wrapper">
        <formly-form model="vm.model" fields="vm.fields" options="{}"></formly-form>
      </div>
    </form>
    <div class="pt-base flex-row justify-content-end">
      <button class="btn btn-primary" ng-click="vm.submitAdvancedFilters()">{{'APPLY' | translate}}</button>
      <button class="btn btn-default" type="button" ng-click="vm.clearFilters()">
        {{'CLEAR' | translate}}
      </button>
    </div>
  </div>
</div>
