<div class="classification-structure-editor margin-top-5">
  <div class="table-container" st-table="vm.structures" st-pipe="vm.getStructures">
    <div class="title-action-button-row">
      <div class="title">
        <h4>
          {{'ACCESS.CLASSIFICATION_STRUCTURES' | translate}}
        </h4>
      </div>
      <div class="action-button">
        <button class="btn btn-primary" ng-click="vm.newStructureModal()">
          {{'ACCESS.NEW_CLASSIFICATION_STRUCTURE' | translate}}
        </button>
      </div>
    </div>
    <div class="search-prepare-wrapper">
      <label for items-per-page></label>
      <select
        id="items-per-page"
        style="margin-right: 10px;"
        class="form-control items-per-page"
        ng-model="vm.structuresPerPage"
        ng-options="x for x in [5,10,20,25,50]"
        uib-tooltip="{{'ITEMSPERPAGE' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      ></select>
      <div class="global-search">
        <input
          st-search=""
          class="form-control"
          ng-attr-placeholder="{{'GLOBALSEARCH' | translate}}"
          type="text"
          uib-tooltip="{{'GLOBALSEARCHDESC_STRUCTURES' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        />
      </div>
      <button
        type="button"
        ng-click="vm.getStructures()"
        class="btn btn-primary btn-small"
        style="margin-left: 5px;"
        uib-tooltip="{{'SEARCH' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      >
        {{'SEARCH' | translate}}&nbsp;<i class="fas fa-search"></i>
      </button>
      <div class="refresh-icon">
        <span
          ng-click="vm.updateStructures()"
          class="clickable angular-animate fas fa-sync-alt fa-lg"
          ng-class="{'fa-sync-alt-animate': vm.structuresLoading }"
          uib-tooltip="{{'REFRESHTABLEDESC' | translate}}"
          tooltip-placement="auto left"
          tooltip-append-to-body="true"
        ></span>
      </div>
    </div>
    <div class="list-view-table table-x-overflow">
      <table class="table table-striped">
        <thead>
          <tr>
            <th st-sort="name">
              {{'NAME' | translate}}
            </th>
            <th st-sort="create_date">
              {{'CREATE_DATE' | translate}}
            </th>
            <th>
              {{'ACCESS.VERSION' | translate}}
            </th>
            <th>
              {{'REMOVE' | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="x in vm.structures"
            class="selectable"
            ng-class="{'selected': vm.structure.id === x.id}"
            ng-click="vm.structureClick(x)"
          >
            <td>
              {{x.name}}
            </td>
            <td>
              {{x.create_date | date:"yyyy-MM-dd HH:mm:ss"}}
            </td>
            <td>
              {{x.version}}
            </td>
            <td>
              <button class="fas fa-trash-alt btn btn-default btn-sm" ng-click="vm.removeStructureModal(x)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <td ng-show="!initLoad" colspan="4">
      <div
        class="text-center"
        st-template="static/frontend/views/pagination.html"
        st-pagination=""
        st-items-by-page="vm.structuresPerPage"
        st-displayed-pages="7"
      ></div>
    </td>
  </div>
  <div class="structure-edit-view" ng-if="vm.structure">
    <div class="structure-edit-wrapper">
      <div
        class="structure-tree"
        resizable
        r-directions="['right']"
        r-grabber="<div class='resize-grabber'></div>"
        r-flex="true"
      >
        <h4 class="mb-0">{{'ACCESS.EDIT_CLASSIFICATION_STRUCTURE' | translate}}</h4>
        <div
          ng-if="vm.structureTreeData"
          js-tree="vm.structureTreeConfig"
          should-apply="vm.applyStructureModelChanges()"
          ng-model="vm.structureTreeData"
          tree="vm.structureTreeInstance"
          tree-events="changed:vm.structureTreeChange;ready:vm.treeReady;open_node:vm.expandChildren;move_node:vm.dropNode;"
        ></div>
      </div>
      <div class="structure-rules">
        <div class="rules-header">
          <h4 class="mb-0">{{'ACCESS.RULES' | translate}}</h4>
          <button
            class="btn btn-primary"
            ng-disabled="vm.savingRules || (angular.equals(vm.rules, {}) && angular.equals(vm.rules, vm.structure.specification.rules)) || angular.equals(vm.rules, vm.structure.specification.rules)"
            ng-click="vm.saveRules(vm.rules, vm.structure)"
          >
            {{'SAVE' | translate}}&nbsp; <i ng-if="vm.savingRules" class="fas fa-spinner fa-spin"></i>
          </button>
        </div>
        <br />
        <div ng-if="!angular.equals(vm.rules, {})" class="table-x-overflow table-container">
          <table class="table">
            <tr>
              <th>
                {{'TYPE' | translate}}
              </th>
              <th>
                <strong>
                  {{'ACCESS.CAN_BE_MOVED' | translate}}
                </strong>
              </th>
              <th>
                {{'REMOVE' | translate}}
              </th>
            </tr>
            <tr ng-repeat="(key, value) in vm.rules">
              <td>
                <strong>
                  {{key}}
                </strong>
              </td>
              <td>
                <input type="checkbox" ng-model="value.movable" />
              </td>
              <td>
                <button class="fas fa-trash-alt btn btn-default btn-sm" ng-click="vm.removeRule(key)"></button>
              </td>
            </tr>
          </table>
        </div>
        <label for="rule-type">
          {{'ACCESS.NEW_TYPE' | translate}}
        </label>
        <div class="flex-row">
          <input
            id="rule-type"
            placeholder="{{'TYPE' | translate}} ..."
            class="form-control rule-type-input"
            ng-model="vm.newRule"
            ng-enter="vm.addRule(vm.newRule)"
          />
          <button class="btn btn-success btn-small" ng-click="vm.addRule(vm.newRule)">+</button>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <button ng-if="!vm.showSettings" class="btn btn-default" ng-click="vm.showSettings = true">
        <i class="fas fa-plus"></i>&nbsp;{{'SETTINGS' | translate}}
      </button>
      <button ng-if="vm.showSettings" class="btn btn-default" ng-click="vm.showSettings = false">
        <i class="fas fa-minus"></i>&nbsp;{{'SETTINGS' | translate}}
      </button>
    </div>
    <div ng-if="vm.showSettings">
      <div class="flex-row margin-top-5">
        <div class="dropdown" uib-dropdown is-open="status.startDate">
          <label for="start-date">{{'START_DATE' | translate}}</label>
          <a class="dropdown-toggle" id="start-date" role="button" uib-dropdown-toggle>
            <div class="input-group">
              <input
                type="text"
                data-date-time-input="YYYY-MM-DD"
                class="form-control"
                data-ng-model="vm.structure.start_date"
              /><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
            <datetimepicker
              data-ng-model="vm.structure.start_date"
              ng-change="status.startDate = false"
              data-datetimepicker-config="{ minView: 'day', startView: 'year', modelType: 'YYYY-MM-DDTHH:mm:ssZ'}"
            />
          </ul>
        </div>
        <div class="dropdown" uib-dropdown is-open="status.endDate">
          <label for="end-date">{{'END_DATE' | translate}}</label>
          <a class="dropdown-toggle" id="end-date" role="button" uib-dropdown-toggle>
            <div class="input-group">
              <input
                type="text"
                data-date-time-input="YYYY-MM-DD"
                class="form-control"
                data-ng-model="vm.structure.end_date"
              /><span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" uib-dropdown-menu>
            <datetimepicker
              data-ng-model="vm.structure.end_date"
              ng-change="status.endDate = false"
              data-datetimepicker-config="{ minView: 'day', startView: 'year', modelType: 'YYYY-MM-DDTHH:mm:ssZ'}"
            />
          </ul>
        </div>
      </div>
      <button
        class="btn btn-primary margin-top-5 float-right"
        ng-disabled="angular.equals(vm.oldStructure, vm.structure) || vm.savingSettings"
        ng-click="vm.saveSettings(vm.structure)"
      >
        {{'SAVE' | translate}}&nbsp;<i ng-if="vm.savingSettings" class="fas fa-spinner fa-spin"></i>
      </button>
    </div>
  </div>
</div>
