<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ARCHIVE_MAINTENANCE.ADD_CONVERSION_RULE_TO_IP' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <h4>{{'ARCHIVE_MAINTENANCE.ARCHIVE_OBJECTS' | translate}}</h4>
  <div class="table-x-overflow">
    <table class="table table-striped table-container">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{'LABEL' | translate}}</th>
          <th>Responsible</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat-start="ip in $ctrl.data.ips"
          ng-click="$ctrl.expandIp(ip)"
          class="selectable"
          ng-class="{'selected': $ctrl.ip.object_identifier_value == ip.object_identifier_value}"
        >
          <td ng-if="ip.expanded"><i class="fas fa-minus"></i>&nbsp;{{ip.object_identifier_value}}</td>
          <td ng-if="!ip.expanded"><i class="fas fa-plus"></i>&nbsp;{{ip.object_identifier_value}}</td>
          <td>{{ip.label}}</td>
          <td>{{ip.responsible.username}}</td>
          <td></td>
        </tr>
        <tr
          ng-if="ip.expanded"
          ng-repeat="x in ip.rules track by $index"
          style="background-color:rgba(50,120,255,.1);"
        >
          <td colspan="2" style="padding-left: 15px;">{{x.name}}</td>
          <td>{{x.frequency}}</td>
          <td>
            <button class="fas fa-trash-alt btn btn-default btn-sm" ng-click="$ctrl.removeRule(ip, x)"></button>
          </td>
        </tr>
        <tr ng-if="ip.expanded" ng-repeat-end>
          <td colspan="4" ng-click="$ctrl.showRulesTable(ip)" class="clickable add-rule-row">
            {{'ARCHIVE_MAINTENANCE.ADD_RULE' | translate}}
          </td>
        </tr>
        <tr ng-if="!$ctrl.data.ips.length" class="empty-table-indicator">
          <td colspan="4">{{'NO_RESULTS_FOUND' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="$ctrl.conversionRules.length">
    <h4>{{'ARCHIVE_MAINTENANCE.CONVERSION_RULES' | translate}}</h4>
    <div class="table-x-overflow table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{'ID' | translate}}</th>
            <th>{{'NAME' | translate}}</th>
            <th>{{'ARCHIVE_MAINTENANCE.FREQUENCY' | translate}}</th>
            <th>{{'ADD' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in $ctrl.conversionRules">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.frequency}}</td>
            <td>
              <button class="btn btn-success btn-small" ng-click="$ctrl.addRule($ctrl.ip, x)">
                {{'ADD' | translate}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-default close-rules-button" ng-click="$ctrl.closeRulesTable()">
        {{'CLOSE' | translate}}
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" focused="true">{{'OK' | translate}}</button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
</div>
