<div class="specification">
  <h4>
    {{'ARCHIVE_MAINTENANCE.SPECIFICATION' | translate}}
  </h4>
  <div class="w-100">
    <formly-form model="vm.newSpec" fields="vm.baseSpecFields" options="{}"></formly-form>
  </div>
  <div ng-if="vm.toolDataForm" class="w-100">
    <formly-form model="vm.toolData" fields="vm.toolDataForm"></formly-form>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      ng-disabled="!vm.newSpec.path || !vm.newSpec.tool"
      ng-click="vm.addSpecification()"
    >
      {{'ADD' | translate}}
    </button>
  </div>
  <hr class="small" />
  <pre class="w-100">
    {{vm.specification | json}}
  </pre>
</div>
