<div class="specification">
  <h4>
    {{'ARCHIVE_MAINTENANCE.SPECIFICATION' | translate}}
  </h4>
  <div class="w-100">
    <formly-form model="$ctrl.newSpec" fields="$ctrl.baseSpecFields" options="{}"></formly-form>
  </div>
  <div ng-if="$ctrl.toolDataForm" class="w-100">
    <formly-form model="$ctrl.toolData" fields="$ctrl.toolDataForm"></formly-form>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      ng-disabled="!$ctrl.newSpec.path || !$ctrl.newSpec.tool"
      ng-click="$ctrl.addSpecification()"
    >
      {{'ADD' | translate}}
    </button>
  </div>
  <hr class="small" />
  <pre class="w-100">
    {{$ctrl.model.specification | json}}
  </pre>
</div>
