<div class="conversion-view">
  <form name="vm.form">
    <div class="parent">
      <div class="div1">
        <uib-tabset active="vm.activeTab" type="pills">
          <uib-tab
            class="uibalt"
            sortable-tab
            ng-repeat="conversion in vm.conversions track by $index"
            ng-click="vm.updateConverterForm(conversion)"
            index="'conversion' + $index"
            heading="{{conversion.name}}"
          >
            <uib-accordion ng-if="vm.activeTab === 'conversion' + $index" close-others="false" class="p-base">
              <div uib-accordion-group class="panel-default" is-open="true" heading="{{'CONVERSION' | translate}}">
                <uib-accordion-heading> {{'CONVERSION' | translate}} </uib-accordion-heading>
                <div>
                  <label class="control-label"> {{'CONVERSION_VIEW.CONVERTER' | translate}} </label>
                  <div>
                    <ui-select
                      ng-model="conversion.converter"
                      on-select="vm.updateConverterForm(conversion)"
                      theme="bootstrap"
                      sortable="true"
                      close-on-select="true"
                      append-to-body="true"
                    >
                      <ui-select-match ng-attr-placeholder="{{'CONVERSION_VIEW.CONVERTER' | translate}}"
                        >{{conversion.converter.name}}</ui-select-match
                      >
                      <ui-select-choices
                        ng-hide="!$select.open"
                        refresh-delay="0"
                        refresh="vm.getConverters($select.search)"
                        repeat="x in vm.options.converters | propsFilter: {name: $select.search}"
                      >
                        <div ng-bind-html="x.name | highlight: $select.search"></div>
                      </ui-select-choices>
                      <ui-select-no-choice>
                        <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
                      </ui-select-no-choice>
                    </ui-select>
                  </div>
                  <br />
                  <p>{{vm.currentConversion.converter.description}}</p>
                  <div ng-if="vm.fields.length">
                    <hr class="small" />
                    <formly-form
                      form="vm.form"
                      model="vm.currentConversion.data"
                      fields="vm.currentConversion.converter.pathField"
                      options="{}"
                    ></formly-form>
                    <formly-form
                      form="vm.form"
                      model="vm.currentConversion.data"
                      fields="vm.fields"
                      options="{}"
                    ></formly-form>
                  </div>
                </div>
              </div>
            </uib-accordion>
          </uib-tab>
          <uib-tab
            class="uibaltplus"
            ng-click="vm.addConverter()"
            uib-tooltip="{{'CONVERSION_VIEW.ADD_CONVERTER' | translate}}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
            index="'new_converter'"
          >
            <uib-tab-heading>
              <i class="fas fa-plus"></i>
            </uib-tab-heading>
          </uib-tab>
        </uib-tabset>
        <div ng-if="vm.savedWorkflow.length > 0" class="alert alert-success" role="alert">{{vm.savedWorkflow}}</div>
      </div>
      <div class="div2">
        <div class="search-prepare-wrapper">
          <select
            class="form-control"
            ng-model="selectedProfile"
            ng-options="item.name for item in vm.profilelist"
            ng-change="vm.SelectedRow(selectedProfile)"
          >
            <option value="" disabled selected>Select workflow</option>
          </select>
          <button class="btn btn-primary btn-small" type="button" ng-click="vm.fetchClick()">
            {{'CONVERSION_VIEW.FETCH_WORKFLOW' | translate}}
          </button>
        </div>
        <div ng-if="vm.profilespec.length > 0">
          <br />
          <label class="control-label">Workflow</label>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Path</th>
                <th scope="col">Details</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="value in vm.profilespec">
                <td>{{$index}}</td>
                <td>{{value.args[0]}}</td>
                <td>{{value.args[1]}}</td>
                <td>
                  <button class="btn btn-info" ng-click="vm.actionDetailsModal(value)">
                    {{'CONVERSION_VIEW.DETAILS' | translate}}
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" ng-click="vm.deleteFromWorkflow(value)">
                    {{'DELETE' | translate}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="small" />
        <formly-form form="vm.form" model="vm.flowOptions" fields="vm.purposeField" options="{}"></formly-form>
        <br />
        <div class="flex-row justify-content-end">
          <button class="btn btn-primary" ng-click="vm.saveWorkflowModal()">
            {{'CONVERSION_VIEW.SAVE_WORKFLOW' | translate}}
          </button>
          <button class="btn btn-primary" ng-click="vm.startPresetConversion()">
            {{'CONVERSION_VIEW.RUN_CONVERSIONS' | translate}}
          </button>
          <button
            ng-if="vm.conversions.length > 1"
            class="btn btn-danger"
            ng-click="vm.removeConversionModal(vm.currentConversion)"
          >
            {{'REMOVE' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <br />
</div>
