<div class="prepare-ip">
  <div class="content-wrapper">
    <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'"></div>
    <uib-tabset
      ng-if="(ip !== null || ips.length > 0) && !(vm.specificTabs.length == 0 && ips.length > 0)"
      active="vm.activeTab"
      class="tabs tabs-style-bar"
    >
      <uib-tab index="'prepare'" ng-if="vm.specificTabs.includes('prepare')" heading="{{'PREPAREIP' | translate}}">
        <div ng-if="vm.activeTab === 'prepare'">
          <div
            tabindex="-1"
            ng-keydown="vm.contentViewsKeydownListener($event)"
            id="select-wrap"
            class="select-sub-edit-eventlog-wrapper"
          >
            <profile-editor
              ng-if="ip !== null && ips.length === 0"
              ip="ip"
              types="{
                transfer_project: {disabled: false},
                submit_description: {disabled: false},
                sip: {disabled: false},
                preservation_metadata: {disabled: false},
              }"
            ></profile-editor>
            <div class="eventlog-view" ng-class="{'border-none': ips.length > 0}">
              <div class="eventlog-form">
                <button
                  ng-click="vm.prepareIpForUploadModal(ip)"
                  type="button"
                  class="btn btn-primary submit-button"
                  ng-disabled="!vm.sa_locked()"
                >
                  {{'PREPARE' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab ng-if="ip !== null && ips.length == 0" index="'tasks'" heading="{{'TASKS' | translate}}">
        <div
          ng-if="vm.activeTab === 'tasks'"
          class="events-status-wrapper"
          tabindex="-1"
          ng-keydown="vm.contentViewsKeydownListener($event)"
        >
          <div class="status-view">
            <state-tree-view ip="ip"></state-tree-view>
          </div>
        </div>
      </uib-tab>
      <uib-tab ng-if="ip !== null && ips.length == 0" index="'events'" heading="{{'EVENT.EVENTS' | translate}}">
        <div
          ng-if="vm.activeTab === 'events'"
          class="events-status-wrapper"
          tabindex="-1"
          ng-keydown="vm.contentViewsKeydownListener($event)"
        >
          <event-table ip="ip"></event-table>
        </div>
      </uib-tab>
      <uib-tab
        ng-if="ip !== null && ips.length == 0 && (row.responsible.id == auth.id || !row.responsible || row.permissions.includes('see_other_user_ip_files'))"
        index="'filebrowser'"
        heading="{{'FILEBROWSER.FILEBROWSER' | translate}}"
      >
        <div
          ng-if="vm.activeTab === 'filebrowser'"
          class="file-browser"
          tabindex="-1"
          ng-keydown="vm.contentViewsKeydownListener($event)"
        >
          <filebrowser ip="ip"></filebrowser>
        </div>
      </uib-tab>
    </uib-tabset>
    <div
      class="no-tabs-available"
      ng-if="(ip !== null || ips.length > 0) && ((vm.specificTabs.length == 0 && ips.length > 0 ) || vm.activeTab === 'no_tabs')"
    >
      <h4>
        {{'NO_ACTIONS_FOR_SELECTED_IPS' | translate}}
      </h4>
    </div>
  </div>
</div>
