<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ARCHIVE_MAINTENANCE.CREATE_CONVERSION_TEMPLATE' | translate}}</h3>
</div>
<form name="$ctrl.form" ng-submit="$ctrl.create()">
  <div class="modal-body" id="modal-body">
    <formly-form model="$ctrl.model" fields="$ctrl.fields" options="{}" form="$ctrl.form"></formly-form>
    <div ng-include src="'static/frontend/views/conversion_spec.html'"></div>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="submit"
      ng-disabled="$ctrl.form.$invalid || $ctrl.addingTemplate"
      focused="true"
    >
      {{'CREATE' | translate}} <i ng-if="$ctrl.addingTemplate" class="fas fa-spinner fa-spin"></i>
    </button>
    <button class="btn btn-default" type="button" ng-disabled="$ctrl.addingTemplate" ng-click="$ctrl.cancel()">
      {{'CANCEL' | translate}}
    </button>
  </div>
</form>
