<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ACCESS.CREATE_NEW_VERSION' | translate}}</h3>
</div>
<form ng-submit="$ctrl.createNewVersion($ctrl.node)">
  <div class="modal-body" id="modal-body"></div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="" focused="true">{{'CREATE' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
  </div>
</form>
