    <div ng-if="!vm.statsLoading && vm.stats !== null">
      <div ng-if="vm.stats.tags && vm.stats.tags.length" permission permission-only="'tags.search'">
        <hr />
        <h4>{{'DASHBOARD.ARCHIVAL_DESCRIPTION' | translate}}</h4>
        <div class="main__container">
          <div class="main__chart">
            <canvas id="pie" chart-options="vm.options" class="chart-pie" chart-data="vm.d" chart-labels="vm.labels"></canvas>
          </div>
        </div>                    
      </div>
    </div>  

<div ng-if="!vm.statsLoading && vm.stats !== null">
  <h4>{{'DASHBOARD.SYSTEM' | translate}}</h4>
  <div class="main__cards">
    <div class="card-stats">
      <div class="card__inner">
        <p class="text-primary-p">{{'DASHBOARD.INFORMATION_PACKAGES' | translate}}</p>
        <span class="font-bold text-title">{{vm.stats.information_packages}}</span>           
      </div>
    </div>

    <div class="card-stats">
      <div class="card__inner">
        <p class="text-primary-p">{{'DASHBOARD.ORDERED_INFORMATION_PACKAGES' | translate}}</p>
        <span class="font-bold text-title">{{vm.stats.ordered_information_packages}}</span>
      </div>
    </div>

    <div class="card-stats">
      <div class="card__inner">
        <p class="text-primary-p">{{'DASHBOARD.APPRAISALS' | translate}}</p>
        <span class="font-bold text-title">{{vm.stats.appraisals}}</span>
      </div>
    </div>

    <div class="card-stats">
      <div class="card__inner">
        <p class="text-primary-p">{{'DASHBOARD.TOTAL_OBJECT_SIZE' | translate}}</p>
        <span class="font-bold text-title">{{vm.stats.total_object_size | filesize}}</span>
      </div>
    </div>
  </div>
  <div class="float-right">
    <button
      class="btn btn-sm btn-default"
      uib-tooltip="{{'DASHBOARD.BUILD_REPORT' | translate}}"
      tooltip-placement="auto top"
      tooltip-append-to-body="false"
      ng-click="vm.buildReportModal()"
    >
      <i class="fas fa-print"></i>
    </button>
    <br />
    <br />
  </div>
</div>
<div ng-if="vm.statsLoading && vm.stats == null" class="loading-column w-100 text-center">
  {{'LOADING' | translate}}
</div>
