<div class="file-explorer" st-table="deckGridData" st-pipe="workareaPipe">
  <div class="nav-refresh-wrapper">
    <div class="file-explorer-nav">
      <li
        ng-class="{'arrow-disabled': previousGridArrays1.length == 0}"
        class="far fa-arrow-alt-circle-left fa-2x clickable"
        ng-click="previousGridArray(1)"
      ></li>
      <b class="dir-path">{{'/' + previousGridArraysString(1)}}</b>
    </div>
    <div class="button-refresh-wrapper">
      <select
        ng-if="checkPermission('ip.see_all_in_workspaces') && auth.current_organization"
        class="form-control organization-member-select"
        style="margin-right: 10px;"
        ng-model="vm.organizationMember.current"
        ng-options="x as x.username for x in vm.organizationMember.options track by x.id"
        ng-change="resetWorkareaGridArrays(); workareaPipe(workarea_tableState);"
      ></select>
      <div>
        <select
          class="form-control items-per-page"
          ng-change="changeFilesPerPage(filesPerPage)"
          ng-model="filesPerPage"
          ng-options="x for x in [5, 10, 25, 50]"
          uib-tooltip="{{'FILES_PER_PAGE' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        >
          {{x}}
        </select>
      </div>
      <button
        class="btn btn-default btn-sm"
        ng-class="{'active': workareaListView}"
        ng-click="useListView(1)"
        uib-tooltip="{{'LIST_VIEW' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      >
        <i class="fas fa-th-list fa-lg"></i>
      </button>
      <button
        class="btn btn-default btn-sm"
        ng-class="{'active': workareaGridView}"
        ng-click="useGridView(1)"
        uib-tooltip="{{'GRID_VIEW' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      >
        <i class="fas fa-th fa-lg"></i>
      </button>
      <div class="refresh-filebrowser">
        <span
          ng-click="updateWorkareaFiles()"
          class="clickable angular-animate fas fa-sync-alt fa-lg"
          ng-class="{'fa-sync-alt-animate': workArrayLoading }"
          uib-tooltip="{{'REFRESH' | translate}}"
          tooltip-placement="auto left"
          tooltip-append-to-body="true"
        ></span>
      </div>
    </div>
  </div>
  <div ng-show="workareaGridView">
    <div class="deckgrid">
      <div ng-if="!deckGridData.length && workArrayLoading" class="text-center">
        <div class="loading-column">{{'LOADING' | translate}}</div>
      </div>
      <div ng-if="!deckGridData.length && !workArrayLoading" class="text-center">
        <div>{{'NO_RESULTS_FOUND' | translate}}</div>
      </div>
      <div class="flex-grid">
        <div
          class="card"
          ng-repeat="card in deckGridData"
          ng-include
          src="'static/frontend/views/deckgrid_card1.html'"
        ></div>
      </div>
    </div>
  </div>
  <div ng-show="workareaListView" class="file-list-view">
    <table class="table table-striped">
      <thead>
        <tr>
          <th translate="NAME"></th>
          <th translate="SIZE"></th>
          <th translate="CHANGED"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="card in deckGridData"
          class="clickable"
          ng-dblClick="expandFile(1, ip, card)"
          ng-class="isSelected(1, card)"
          ng-click="cardSelect(1, card)"
        >
          <td class="type-name-column">
            <div ng-class="card.type" ng-if="card.type == 'file'">
              <li class="fas fa-file"></li>
            </div>
            <div ng-class="card.type" ng-if="card.type == 'dir'">
              <li class="fas fa-folder"></li>
            </div>
            <div class="one-row-ellipsis">
              {{card.name}}
            </div>
          </td>
          <td>
            <div class="one-row-ellipsis">
              {{card.size | filesize}}
            </div>
          </td>
          <td>
            <div class="one-row-ellipsis">
              {{card.modified | date: 'yyyy-MM-dd HH:mm:ss'}}
            </div>
          </td>
        </tr>
        <tr ng-if="!deckGridData.length && !workArrayLoading" class="empty-table-indicator">
          <td colspan="3">{{'NO_RESULTS_FOUND' | translate}}</td>
        </tr>
        <tr ng-if="!deckGridData.length && workArrayLoading" class="empty-table-indicator">
          <td class="loading-column" colspan="3">{{'LOADING' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="files-per-page-pagination-wrapper">
    <div
      st-template="static/frontend/views/file_pagination.html"
      st-pagination=""
      st-items-by-page="filesPerPage"
      st-displayed-pages="7"
    ></div>
  </div>
</div>
<button
  ng-if="selectedCards1.length"
  ng-click="chooseFiles(selectedCards1)"
  class="btn btn-default"
  translate="ADD"
></button>

<hr />

<div class="file-explorer" st-table="chosenFiles" st-pipe="dipPipe">
  <div class="nav-refresh-wrapper">
    <div class="file-explorer-nav">
      <li
        ng-class="{'arrow-disabled': previousGridArrays2.length == 0}"
        class="far fa-arrow-alt-circle-left fa-2x clickable"
        ng-click="previousGridArray(2)"
      ></li>
      <b class="dir-path">{{ip.object_identifier_value + '/' + previousGridArraysString(2)}}</b>
    </div>
    <div class="button-refresh-wrapper">
      <div>
        <select
          class="form-control items-per-page"
          ng-change="changeFilesPerPage(dipFilesPerPage)"
          ng-model="dipFilesPerPage"
          ng-options="x for x in [5, 10, 25, 50]"
          uib-tooltip="{{'FILES_PER_PAGE' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        >
          {{x}}
        </select>
      </div>
      <button
        class="btn btn-default btn-sm"
        ng-class="{'active': dipListView}"
        ng-click="useListView(2)"
        uib-tooltip="{{'LIST_VIEW' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      >
        <i class="fas fa-th-list fa-lg"></i>
      </button>
      <button
        class="btn btn-default btn-sm"
        ng-class="{'active': dipGridView}"
        ng-click="useGridView(2)"
        uib-tooltip="{{'GRID_VIEW' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      >
        <i class="fas fa-th fa-lg"></i>
      </button>
      <div class="refresh-filebrowser">
        <span
          ng-click="updateDipFiles()"
          class="clickable angular-animate fas fa-sync-alt fa-lg"
          ng-class="{'fa-sync-alt-animate': gridArrayLoading }"
          uib-tooltip="{{'REFRESH' | translate}}"
          tooltip-placement="auto left"
          tooltip-append-to-body="true"
        ></span>
      </div>
    </div>
  </div>
  <div ng-show="dipGridView">
    <div class="deckgrid">
      <div ng-if="!chosenFiles.length && gridArrayLoading" class="text-center">
        <div class="loading-column">{{'LOADING' | translate}}</div>
      </div>
      <div ng-if="!chosenFiles.length && !gridArrayLoading" class="text-center">
        <div>{{'NO_RESULTS_FOUND' | translate}}</div>
      </div>
      <div class="flex-grid">
        <div
          class="card"
          ng-repeat="card in chosenFiles"
          ng-include
          src="'static/frontend/views/deckgrid_card2.html'"
        ></div>
      </div>
    </div>
    <div class="files-per-page-pagination-wrapper">
      <div
        st-template="static/frontend/views/file_pagination.html"
        st-pagination=""
        st-items-by-page="dipFilesPerPage"
        st-displayed-pages="7"
      ></div>
    </div>
  </div>
  <div ng-show="dipListView" class="file-list-view">
    <table class="table table-striped">
      <thead>
        <tr>
          <th translate="NAME"></th>
          <th translate="SIZE"></th>
          <th translate="CHANGED"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="card in chosenFiles"
          class="clickable"
          ng-dblClick="expandFile(2, ip, card)"
          ng-class="isSelected(2, card)"
          ng-click="cardSelect(2, card)"
        >
          <td class="type-name-column">
            <div ng-class="card.type" ng-if="card.type == 'file'">
              <li class="fas fa-file"></li>
            </div>
            <div ng-class="card.type" ng-if="card.type == 'dir'">
              <li class="fas fa-folder"></li>
            </div>
            <div class="one-row-ellipsis">
              {{card.name}}
            </div>
          </td>
          <td>
            <div class="one-row-ellipsis">
              {{card.size | filesize}}
            </div>
          </td>
          <td>
            <div class="one-row-ellipsis">
              {{card.modified | date: 'yyyy-MM-dd HH:mm:ss'}}
            </div>
          </td>
        </tr>
        <tr ng-if="!chosenFiles.length && !gridArrayLoading" class="empty-table-indicator">
          <td colspan="3">{{'NO_RESULTS_FOUND' | translate}}</td>
        </tr>
        <tr ng-if="!chosenFiles.length && gridArrayLoading" class="empty-table-indicator">
          <td class="loading-column" colspan="3">{{'LOADING' | translate}}</td>
        </tr>
      </tbody>
    </table>
    <div class="files-per-page-pagination-wrapper">
      <div
        st-template="static/frontend/views/file_pagination.html"
        st-pagination=""
        st-items-by-page="dipFilesPerPage"
        st-displayed-pages="7"
      ></div>
    </div>
  </div>
</div>
<button ng-if="selectedCards2.length" ng-click="removeFiles()" class="btn btn-default" translate="REMOVE"></button>
<button ng-click="newDirModal()" class="btn btn-default">{{'FILEBROWSER.NEWFOLDER' | translate}}</button>
