<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ARCHIVE_MAINTENANCE.EDIT_APPRAISAL_TEMPLATE' | translate}}</h3>
</div>
<form name="$ctrl.createForm" ng-submit="$ctrl.save($ctrl.data.appraisal)">
  <div class="modal-body" id="modal-body">
    <formly-form model="$ctrl.model" fields="$ctrl.fields" options="{}"></formly-form>
    <hr />
    <label>
      {{'ARCHIVE_MAINTENANCE.PATHS' | translate}}
    </label>
    <div class="flex-row">
      <input class="form-control" ng-enter="$ctrl.addPath($ctrl.path)" ng-model="$ctrl.path" />
      <button type="button" class="btn btn-success btn-small px-base" ng-click="$ctrl.addPath($ctrl.path)">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="path-row">
      <div ng-repeat="path in $ctrl.model.package_file_pattern track by $index" class="path-item">
        {{path}}&nbsp;<i ng-click="$ctrl.removePath(path)" class="fas fa-times clickable"></i>
      </div>
      <div ng-if="$ctrl.model.package_file_pattern.length == 0">
        <span ng-if="!$ctrl.showRequired">{{'ARCHIVE_MAINTENANCE.NO_PATHS_CHOSEN' | translate}}</span>
        <span ng-if="$ctrl.showRequired" style="color: red;"
          >{{'ARCHIVE_MAINTENANCE.CHOOSE_AT_LEAST_ONE_PATH' | translate}} *</span
        >
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="submit"
      ng-disabled="$ctrl.createForm.$invalid || $ctrl.saving"
      focused="true"
    >
      {{'SAVE' | translate}} <i ng-if="$ctrl.saving" class="fas fa-spinner fa-spin"></i>
    </button>
    <button class="btn btn-default" ng-disabled="$ctrl.saving" type="button" ng-click="$ctrl.cancel()">
      {{'CANCEL' | translate}}
    </button>
  </div>
</form>
