<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">
    {{'EDIT' | translate}} <b>{{$ctrl.manyNodes?$ctrl.nameList:$ctrl.node._source.name}}</b>
  </h3>
  <h3 class="modal-title" id="modal-title"></h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="$ctrl.form" class="edit-form">
    <formly-form model="$ctrl.editData" fields="$ctrl.editFieldsNoDelete" options="$ctrl.options"></formly-form>
    <hr />
    <formly-form model="$ctrl.editData" fields="$ctrl.editFields" options="$ctrl.options"></formly-form>
  </form>
  <hr />
  <div class="add-field">
    <h4>
      {{'ACCESS.NEW_FIELD' | translate}}
    </h4>
    <label>
      {{'NAME' | translate}}
      <input ng-model="$ctrl.newFieldKey" class="form-control" type="text" ng-enter="$ctrl.addNewField()" />
    </label>
    <label>
      {{'VALUE' | translate}}
      <input ng-model="$ctrl.newFieldVal" class="form-control" type="text" ng-enter="$ctrl.addNewField()" />
    </label>
    <button
      ng-disabled="!($ctrl.newFieldKey && $ctrl.newFieldVal)"
      class="btn btn-success btn-sm"
      ng-click="$ctrl.addNewField()"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="modal-footer">
  <label ng-if="!$ctrl.manyNodes">
    <input type="checkbox" ng-model="$ctrl.updateDescendants" />&nbsp; {{'ACCESS.UPDATE_DESCENDANTS' | translate}}
  </label>
  <button
    class="btn btn-primary"
    ng-disabled="(!$ctrl.changed() && $ctrl.fieldsToDelete.length == 0) || $ctrl.submitting"
    type="button"
    ng-click="$ctrl.submit()"
    focused="true"
  >
    {{'SUBMIT' | translate}} <i ng-if="$ctrl.submitting" class="fas fa-spinner fa-spin" />
  </button>
  <button class="btn btn-default" type="button" ng-disabled="$ctrl.submitting" ng-click="$ctrl.cancel()">
    {{'CANCEL' | translate}}
  </button>
</div>
