<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">Email Submit Description</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="sender-receiver-wrapper">
    <label for="subject">{{'EMAIL.SENDER' | translate}}</label>
    <input class="form-control" ng-model="auth.email" disabled="true" />
    <label for="subject">{{'EMAIL.RECEIVER' | translate}}</label>
    <input
      class="form-control"
      ng-model="vm.dependencyModel.preservation_organization_receiver_email"
      disabled="true"
    />
  </div>
  <br />
  <label for="subject">{{'EMAIL.SUBJECT' | translate}}</label>
  <input class="form-control" ng-model="$ctrl.email.subject" />
  <textarea
    id="body"
    style="margin-top: 10px; height: 120px; max-width: 100%;"
    class="form-control"
    ng-model="$ctrl.email.body"
  ></textarea>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.submit()" focused="true">
    {{'SUBMITSIP' | translate}}
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{'CLOSE' | translate}}</button>
</div>
