<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ENTERPROFILENAME' | translate}}</h3>
</div>
<form ng-submit="$ctrl.save()">
  <div class="modal-body" id="modal-body">
    <input class="form-control" ng-model="$ctrl.profileName" focused="true" />
  </div>
  <div class="modal-footer">
    <button ng-disabled="!$ctrl.profileName" class="btn btn-primary" type="button" ng-click="$ctrl.save()">
      {{'OK' | translate}}
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
  </div>
</form>
