<style>
  .uppy-Dashboard-poweredBy {
    display: none !important;
  }
</style>
<hr />
<h4>{{'UPLOAD.UPLOADCONTENT' | translate}}</h4>
<div ng-controller="UploadController as vm">
  <div id="uppy-dashboard"></div>

  <!-- <button type="button" ng-click="vm.startUpload()">Start Upload</button> -->
  <div style="height: 10px"></div>
  <p>{{'UPLOAD.TOTALFILES' | translate}}: {{ vm.stats.total }}</p>
  <p>{{'UPLOAD.COMPLETED' | translate}}: {{ vm.stats.completed }}</p>
  <p>{{'UPLOAD.FAILED' | translate}}: {{ vm.stats.failed }}</p>
</div>
