<footer class="page-footer">
  <h4>{{ vm.title }}</h4>
  <div class="footer-info">
    <div class="company-info-wrapper">
      <!--<img class="logo" src="">-->
      <div class="text-center d-flex">
        <a class="px-base" ui-sref="home.support" title="ES Solutions support">Support</a>
        <div class="vertical-line-separator"></div>
        <a class="px-base" href="http://www.essolutions.se" title="Essolutions.se" target="_blank"
          >{{'SYSINFO.CONTACT' | translate}}</a
        >
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; {{ vm.currentYear }}&nbsp;<a tabindex="-1" href="http://essolutions.se">ES Solutions</a>
  </div>
</footer>
