<footer class="page-footer">
  <h4>{{ vm.title }}</h4>
  <div class="footer-info">
    <div class="company-info-wrapper">
      <!--<img class="logo" src="">-->
      <div>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="company-info-wrapper">
      <!--<img class="logo" src="">-->
      <div>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; {{ vm.currentYear }}, <a tabindex="-1" href="http://essolutions.se">ESSolutions</a>
  </div>
</footer>
