<div class="body-wrapper">
  <header class="header">
    <div class="logo-search-user-admin-wrapper">
      <div
        class="hamburger"
        ng-show="false && (('home.ingest' | includedByState) || ('home.access' | includedByState) || ('home.orders' | includedByState))"
      >
        <i class="fas fa-2x fa-bars" aria-hidden="true" ng-click="hamburgerActive = !hamburgerActive"></i>
      </div>
      <div class="logo" ng-controller="UtilCtrl">
        <div ng-if="!angular.isUndefined(site) && site !== null && site.logo !== null" class="custom-logo">
          <img src="{{site.logo}}" width="36" alt="logo" />
        </div>
        <h3 class="page-title" ng-click="infoPage()">ESSArch</h3>
        <h3 class="page-title-small" ng-class="{'has-custom-logo': site.logo !== null}" ng-click="infoPage()">
          ESSArch
        </h3>
      </div>
      <div class="user-admin">
        <div ng-controller="UtilCtrl" class="mobile-notification">
          <div class="notification-icon position-relative">
            <i
              ng-click="showAlert()"
              class="fas fa-bell fa-lg"
              uib-tooltip="{{'NOTIFICATIONS.NOTIFICATIONS' | translate}}"
              tooltip-placement="auto top"
              tooltip-append-to-body="true"
            ></i>
            <div
              ng-click="showAlert()"
              ng-if="unseenNotifications != 0 && unseenNotifications <= 999"
              class="unseen-text"
            >
              {{unseenNotifications}}
            </div>
            <div ng-click="showAlert()" ng-if="unseenNotifications > 999" class="unseen-text">{{999}}+</div>
            <notifications></notifications>
          </div>
        </div>
        <user-dropdown auth="auth"></user-dropdown>
      </div>
    </div>
    <div class="menu-task-wrapper">
      <nav class="nav menu" ng-controller="UtilCtrl">
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.producer')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.producer')}"
          ui-sref="home.producer"
          ng-if="checkPermissions('home.producer')"
          >{{('PRODUCER' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.ingest')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.ingest')}"
          ui-sref="home.ingest"
          ng-if="checkPermissions('home.ingest')"
          >{{('INGEST' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.access')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.access')}"
          ui-sref="home.access"
          ng-if="checkPermissions('home.access')"
          >{{('ACCESS.ACCESS' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.archivalDescriptions')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.archivalDescriptions')}"
          ui-sref="home.archivalDescriptions"
          ng-if="checkPermissions('home.archivalDescriptions')"
          >{{('ARCHIVAL_DESCRIPTIONS' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.workarea')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.workarea')}"
          ui-sref="home.workarea"
          ng-if="checkPermissions('home.workarea')"
          >{{('WORKAREA' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.archiveMaintenance')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.archiveMaintenance')}"
          ui-sref="home.archiveMaintenance"
          ng-if="checkPermissions('home.archiveMaintenance')"
          >{{('ARCHIVE_MAINTENANCE.ARCHIVE_MAINTENANCE' | translate)}}</a
        >
        <a
          tabindex="0"
          ng-keydown="navKeydownListener($event, 'home.administration')"
          class="nav-item sliding-middle-out"
          ng-class="{'chosen': $state.includes('home.administration')}"
          ui-sref="home.administration"
          ng-if="checkPermissions('home.administration')"
          >{{('ADMINISTRATION' | translate)}}</a
        >
      </nav>
      <div ng-controller="UtilCtrl" class="tasks-icons">
        <i
          ng-click="gotoDocs()"
          class="fas fa-book fa-lg"
          uib-tooltip="{{'DOCS' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        ></i>
        <a
          href="/admin/"
          class="fas fa-cog fa-lg"
          uib-tooltip="{{'SETTINGS' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        ></a>
        <a
          ui-sref="home.system"
          class="fas fa-question-circle fa-lg"
          uib-tooltip="{{'SYSINFO.SYSTEMINFORMATION' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        ></a>
        <div class="notification-icon"></div>
        <div
          class="organization-select"
          ng-controller="OrganizationCtrl"
          uib-tooltip="{{'ORGANIZATION.CHANGE_ORGANIZATION' | translate}}"
          tooltip-placement="auto top"
          tooltip-append-to-body="true"
        >
          <select
            tabindex="-1"
            style="width: auto; margin-left: 10px;"
            class="form-control"
            ng-model="currentOrganization"
            ng-disabled="availableOrganizations.length === 0"
            ng-change="changeOrganization(); updateListView()"
            ng-options="x as x.name for x in availableOrganizations track by x.id"
          >
            <option ng-hide="availableOrganizations.length > 0" selected value=""
              >{{'ORGANIZATION.NO_ORGANIZATIONS' | translate}}</option
            >
          </select>
        </div>
      </div>
    </div>
  </header>
  <nav ng-controller="UtilCtrl" ng-include src="'static/frontend/views/sub_menu.html'"></nav>
  <div class="nav-dynamic-wrapper">
    <div
      ng-if="false && (('home.ingest' | includedByState) || ('home.access' | includedByState) || ('home.orders' | includedByState) || ('home.appraisal' | includedByState))"
      class="shortcut-nav-calendar-wrapper"
      ng-class="{'active-hamburger': hamburgerActive}"
    >
      <div ng-controller="AngularTreeCtrl" class="navigation" context-menu="navMenuOptions(item)">
        <br />
        <p>
          <treecontrol
            class="tree-light"
            tree-model="tags"
            options="treeOptions"
            selected-node="vm.selectedTag"
            expanded-nodes="expandedNodes"
            on-selection="showSelectedNode(node)"
            on-node-toggle="onNodeToggle(node)"
          >
            <span context-menu="navMenuItemOptions(item)">{{node.name}}</span>
          </treecontrol>
        </p>
      </div>
    </div>
    <main tabindex="-1" ui-view class="dynamic-part"></main>
  </div>
</div>
<essarch-footer title="ESSArch"></essarch-footer>
