<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'KEYBOARD.KEYBORD_SHORTCUTS' | translate}}</h3>
</div>
<form ng-submit="$ctrl.prepareForUpload()">
  <div class="modal-body" id="modal-body">
    <h4>{{'KEYBOARD.IP_LIST' | translate}}</h4>
    {{'KEYBOARD.SELECT_NEXT_IP'| translate}}: <span class="keyboard-button"><i class="fas fa-arrow-up"></i></span
    ><br />
    {{'KEYBOARD.SELECT_PREVIOUS_IP'| translate}}: <span class="keyboard-button"><i class="fas fa-arrow-down"></i></span
    ><br />
    {{'KEYBOARD.STEP_PAGINATION_NEXT'| translate}}:
    <span class="keyboard-button"><i class="fas fa-arrow-right"></i></span><br />
    {{'KEYBOARD.STEP_PAGINATION_PREVIOUS'| translate}}:
    <span class="keyboard-button"><i class="fas fa-arrow-left"></i></span><br />
    {{'KEYBOARD.EXPAND_ROW'| translate}}/{{'INCLUDE_IP_FOR_RECEIVE'| translate}}:
    <span class="keyboard-button">Space</span><br />
    {{'KEYBOARD.DESELECT_IP_AND_CLOSE_VIEWS'| translate}}: <span class="keyboard-button">Esc</span><br />
    <h4>{{'KEYBOARD.STATUS_TREE_VIEW' | translate}}</h4>
    {{'KEYBOARD.MOVE_SELECTION_DOWN'| translate}}: <span class="keyboard-button"><i class="fas fa-arrow-up"></i></span
    ><br />
    {{'KEYBOARD.MOVE_SELECTION_UP'| translate}}: <span class="keyboard-button"><i class="fas fa-arrow-down"></i></span
    ><br />
    {{'KEYBOARD.SEE_STEP_TASK_REPORT'| translate}}: <span class="keyboard-button">Enter</span><br />
    {{'KEYBOARD.EXPAND_STEP'| translate}}: <span class="keyboard-button">Space</span><br />
    {{'KEYBOARD.DESELECT_IP_AND_CLOSE_VIEWS'| translate}}: <span class="keyboard-button">Esc</span><br />
    <h4>{{'KEYBOARD.IN_GENERAL_SELECTED_IP' | translate}}</h4>
    {{'KEYBOARD.DESELECT_IP_AND_CLOSE_VIEWS'| translate}}: <span class="keyboard-button">Esc</span><br />
    <br />
    {{'KEYBOARD.OPEN_KEYBOARD_SHORTCUT_INFO' | translate}}: <span class="keyboard-button">?</span><br />
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" focused="true">
      {{'CANCEL' | translate}}
    </button>
  </div>
</form>
