<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">
    {{'DOYOUWANTTOLOCKSA' | translate}}: <b>{{saProfile.profile.name}}</b> {{'TOIP' | translate}}: <b>{{ip.label}}</b>?
  </h3>
</div>
<div class="modal-body" id="modal-body"></div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.lockSa()" focused="true">{{'OK' | translate}}</button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
</div>
