<div class="info-wrapper">
  <h2>ESSArch - A Digital Archival Solution</h2>
  <p>
    ESSArch is an open source archival solution compliant to the OAIS ISO-standard. ESSArch consist of software
    components that provide functionality for Pre-Ingest, Ingest, Preservation, Access, Data Management, Administration
    and Management. ESSArch has been developed together with the National Archives of Sweden and Norway. Every software
    component of ESSArch can be used individually and also be easily integrated together to provide overall
    functionality for producers, archivists and consumers. ESSArch consist of ETP, ETA and EPP, each individually
    created to provide tools for long-term digital preservation.
  </p>
  <ul>
    <li>
      ESSArch Tools for Producer (ETP) is used to prepare IPs, to create SIPs and to submit SIPs to archival
      institution
    </li>
    <li>
      ESSArch Tools for Archive (ETA) is used to receive SIPs and to prepare SIPs for ingest into the preservation
      platform
    </li>
    <li>
      ESSArch Preservation Platform (EPP) is used to ingest SIPs, perform SIP2AIP, store AIPs in different archival
      storage according to storage methods, provide search and access functionality for consumers
    </li>
  </ul>
  <p>
    EPP is a set of tools for the receiving organization to facilitate receving SIPs, creating AIPs, preserving AIPs in
    storage and providing disseminations
  </p>
  <ul>
    <li>Provides functionality to receive SIPs and if required perform validation of the SIP</li>
    <li>Provides functionality to create AIP's from received SIPs</li>
    <li>
      Provides functionality for preservation of AIP's on different storage mediums using different storage methods
    </li>
    <li>Provides functionality for creating disseminations from AIPs</li>
  </ul>
  <br />
  <dashboard-stats></dashboard-stats>
</div>
