<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'FILEBROWSER.ENTERNEWFOLDERNAME' | translate}}</h3>
</div>
<form ng-submit="$ctrl.saveDir()">
  <div class="modal-body" id="modal-body">
    <label for="dir_name">{{'FILEBROWSER.FOLDER_NAME' | translate}}</label>
    <input required focused="true" id="dir_name" class="form-control" ng-model="$ctrl.dir_name" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">{{'OK' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
  </div>
</form>
