<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'NEWORDER' | translate}}</h3>
</div>
<form ng-submit="$ctrl.newOrder($ctrl.label)">
  <div class="modal-body" id="modal-body">
    <label for="label">{{'LABEL' | translate}}</label>
    <input required focused="true" id="label" class="form-control" ng-model="$ctrl.label" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.creatingOrder">
      {{'CREATE' | translate}} <i ng-if="$ctrl.creatingOrder" class="fas fa-spinner fa-spin" />
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.creatingOrder">
      {{'CANCEL' | translate}}
    </button>
  </div>
</form>
