<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ACCESS.CREATE_TRANSFER' | translate}}</h3>
</div>
<form ng-submit="$ctrl.create()" novalidate name="$ctrl.form">
  <div class="modal-body" id="modal-body">
    <formly-form model="$ctrl.transfer" fields="$ctrl.fields" options="{}"></formly-form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.creating">
      {{'CREATE' | translate}} <i ng-if="$ctrl.creating" class="fas fa-spinner fa-spin" />
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.creating">
      {{'CANCEL' | translate}}
    </button>
    <form-errors errors="$ctrl.nonFieldErrors"></form-errors>
  </div>
</form>
