<div class="content-wrapper">
  <div class="list-view" st-table="vm.displayedIps" st-pipe="vm.callServer">
    <div class="title-action-button-row">
      <div class="title">
        <h4>
          {{'ORDERS' | translate}}
        </h4>
      </div>
      <div class="action-button">
        <button type="button" ng-click="newOrderModal()" class="btn btn-primary">{{'NEWORDER' | translate}}</button>
      </div>
    </div>
    <div class="search-prepare-wrapper">
      <label for items-per-page></label>
      <select
        tabindex="-1"
        id="items-per-page"
        ng-change="updateIpsPerPage(vm.itemsPerPage)"
        style="margin-right: 10px;"
        class="form-control items-per-page"
        ng-model="vm.itemsPerPage"
        ng-options="x for x in [5,10,20,25,50]"
        uib-tooltip="{{'ITEMSPERPAGE' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      ></select>
      <input
        st-search=""
        class="form-control global-search"
        ng-attr-placeholder="{{'GLOBALSEARCH' | translate}}"
        type="text"
        uib-tooltip="{{'GLOBALSEARCHDESC_ORDER' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      />
      <button
        type="button"
        ng-click="getListviewData()"
        class="btn btn-primary btn-small"
        style="margin-left: 5px;"
        uib-tooltip="{{'SEARCH' | translate}}"
        tooltip-placement="auto top"
        tooltip-append-to-body="true"
      >
        {{'SEARCH' | translate}}&nbsp;<i class="fas fa-search"></i>
      </button>
      <div class="refresh-icon">
        <span
          ng-click="getListViewData()"
          class="clickable angular-animate fas fa-sync-alt fa-lg"
          ng-class="{'fa-sync-alt-animate': ipLoading }"
          uib-tooltip="{{'REFRESHTABLEDESC' | translate}}"
          tooltip-placement="auto left"
          tooltip-append-to-body="true"
        ></span>
      </div>
    </div>
    <div id="list-view" tabindex="0" ng-keydown="vm.ipListKeydownListener($event)" class="list-view-table">
      <table class="table table-striped" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th class="clickable" st-sort="label" class="column-label">{{'LABEL' | translate}}</th>
            <th class="clickable" class="column-label">{{'TYPE' | translate}}</th>
            <th class="clickable" class="column-label">{{'NAME' | translate}}</th>
            <th class="clickable" class="column-label">
              {{'CONSIGN_METHOD' | translate}}
            </th>
            <th permission permission-only="'ip.change_order'" class="shrink">
              {{'EDIT' | translate}}
            </th>
            <th class="clickable" permission permission-only="'ip.delete_order'" class="shrink">
              {{'DELETE' | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-class="{'selected': ip.id == row.id}"
            ng-repeat="row in vm.displayedIps"
            class="table-item selectable"
            ng-click="ipTableClick(row, $event)"
          >
            <td
              class="clickable"
              uib-tooltip="{{'LABELDESC' | translate}}: {{row.label}}"
              tooltip-placement="auto top"
              tooltip-append-to-body="true"
            >
              {{row.label}}
            </td>
            <td>
              {{row.type.name}}
            </td>
            <td>
              {{row.first_name ? row.first_name + ', ':''}}{{row.family_name}}
            </td>
            <td>
              {{row.consign_method.name}}
            </td>
            <td permission permission-only="'ip.change_order'" class="text-center shrink">
              <button
                class="btn btn-default fas fa-edit btn-sm"
                ng-click="editOrderModal(row); $event.stopPropagation();"
                uib-tooltip="{{'EDIT' | translate}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
              ></button>
            </td>
            <td permission permission-only="'ip.delete_order'" class="text-center shrink">
              <button
                type="button"
                ng-if="row.responsible.id == auth.id || checkPermission('ip.delete_informationpackage')"
                ng-click="removeOrderModal(row); $event.stopPropagation();"
                class="fas fa-trash-alt btn btn-default btn-sm"
                uib-tooltip="{{'REMOVEIP' | translate}}: {{row.label}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
              ></button>
            </td>
          </tr>
          <tr ng-if="!vm.displayedIps.length && !ipLoading" class="empty-table-indicator">
            <td colspan="{{vm.getOrderListColspan()}}">{{'NO_RESULTS_FOUND' | translate}}</td>
          </tr>
          <tr ng-if="!vm.displayedIps.length && ipLoading" class="empty-table-indicator">
            <td class="loading-column" colspan="{{vm.getOrderListColspan()}}">{{'LOADING' | translate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <td ng-show="!initLoad" colspan="4" class="text-center">
      <div
        class="text-center"
        st-template="static/frontend/views/pagination.html"
        st-pagination=""
        st-items-by-page="vm.itemsPerPage"
        st-displayed-pages="7"
      ></div>
    </td>
  </div>
  <div ng-if="select" class="select-sub-edit-eventlog-wrapper">
    <div ng-if="select" class="select-view">
      <div class="table-container" st-table="vm.ips" st-pipe="vm.ipPipe">
        <div class="search-prepare-wrapper">
          <div class="refresh-icon">
            <span
              ng-click="vm.ipPipe(vm.ipTableState)"
              class="clickable angular-animate fas fa-sync-alt fa-lg"
              ng-class="{'fa-sync-alt-animate': ipsLoading }"
              uib-tooltip="{{'REFRESHTABLEDESC' | translate}}"
              tooltip-placement="auto left"
              tooltip-append-to-body="true"
            ></span>
          </div>
        </div>
        <div class="table-x-overflow">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{'OBJECT_IDENTIFIER_VALUE' | translate}}</th>
                <th>{{'LABEL' | translate}}</th>
                <th>{{'CREATE_DATE' | translate}}</th>
                <th>{{'ENTRY_DATE' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                ng-repeat="x in vm.ips"
                ng-click="vm.openFilebrowser(x);"
                class="selectable"
                ng-class="{'selected': vm.ip.id == x.id}"
              >
                <td>{{x.object_identifier_value}}</td>
                <td>{{x.label}}</td>
                <td>{{x.create_date | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>{{x.entry_date | date:"yyyy-MM-dd HH:mm:ss"}}</td>
              </tr>
              <tr ng-if="!vm.ips.length && !ipsLoading" class="empty-table-indicator">
                <td colspan="5">{{'NO_RESULTS_FOUND' | translate}}</td>
              </tr>
              <tr ng-if="!vm.ips.length && ipsLoading" class="empty-table-indicator">
                <td class="loading-column" colspan="5">{{'LOADING' | translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-if="vm.ip" style="padding: 10px;">
      <filebrowser ip="vm.ip"></filebrowser>
    </div>
  </div>
</div>
