<div class="pagination" ng-if="numPages && pages.length >= 2">
  <ul class="pagination">
    <li ng-if="currentPage > 1">
      <a ng-click="selectPage(1)"><span class="fas fa-step-backward"></span></a>
    </li>
    <li ng-if="currentPage > 1">
      <a ng-click="selectPage(currentPage-1)"><span class="fas fa-backward"></span></a>
    </li>
    <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
      <a ng-click="selectPage(page)">{{page}}</a>
    </li>
    <li ng-if="currentPage < numPages">
      <a ng-click="selectPage(currentPage+1)"><span class="fas fa-forward"></span></a>
    </li>
    <li ng-if="currentPage < numPages">
      <a ng-click="selectPage(numPages)"><span class="fas fa-step-forward"></span></a>
    </li>
  </ul>
</div>
