<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'PREPARE_IP' | translate}}</h3>
</div>
<form ng-submit="$ctrl.prepareForUpload()">
  <div class="modal-body" id="modal-body">
    {{'PREPARE_IP_DESC' | translate}}
    <h4>{{'INFORMATION_PACKAGES' | translate}}</h4>
    <div class="table-x-overflow">
      <table class="table table-striped table-container">
        <thead>
          <tr>
            <th>ID</th>
            <th>{{'LABEL' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ip in $ctrl.data.ips">
            <td>{{ip.object_identifier_value}}</td>
            <td>{{ip.label}}</td>
          </tr>
          <tr ng-if="!$ctrl.data.ips.length" class="empty-table-indicator">
            <td colspan="2">{{'NO_RESULTS_FOUND' | translate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="button"
      focused="true"
      ng-click="$ctrl.prepareForUpload()"
      ng-disabled="$ctrl.preparing"
    >
      {{'PREPARE' | translate}} <i ng-if="$ctrl.preparing" class="fas fa-spinner fa-spin"></i>
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.preparing">
      {{'CANCEL' | translate}}
    </button>
  </div>
</form>
