<div class="profile-editor">
  <div ng-if="select" id="select-view" class="select-view">
    <div class="sa-table table-container">
      <table ng-if="!saAlert && saProfile" style="margin-top: 20px;" class="table table-striped">
        <thead>
          <tr>
            <th
              class="column-entity"
              uib-tooltip="{{'ENTITYDESC' | translate}}"
              tooltip-placement="auto top"
              tooltip-append-to-body="true"
            >
              {{'TYPE' | translate}}
            </th>
            <th
              class="column-profile"
              uib-tooltip="{{'PROFILEDESC' | translate}}"
              tooltip-placement="auto top"
              tooltip-append-to-body="true"
            >
              {{'SUBMISSIONAGREEMENT' | translate}}
            </th>
            <th class="column-view"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="table-col">{{'SUBMISSIONAGREEMENT' | translate}}</p>
            </td>
            <td>
              <ui-select
                spinner-enabled="true"
                spinner-class="{{'fas fa-spinner fa-spin ui-select-custom-spinner'}}"
                ng-disabled="saProfile.locked || vm.gettingSas"
                ng-model="saProfile.profile"
                theme="bootstrap"
                ng-change="changeSaProfile(saProfile.profile, ip, {{saProfile.profiles.indexOf(saProfile.profile)}})"
                sortable="true"
                append-to-body="true"
              >
                <ui-select-match
                  ng-attr-placeholder="{{vm.gettingSas ? ('LOADING' | translate) + ' ...' : ('SUBMISSIONAGREEMENT' | translate)}}"
                  >{{$select.selected.name}}</ui-select-match
                >
                <ui-select-choices
                  ng-hide="!$select.open"
                  refresh-delay="300"
                  refresh="vm.getSas($select.search)"
                  repeat="x in vm.saProfileOptions() | propsFilter: {name: $select.search}"
                >
                  <div ng-bind-html="x.name | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>
                  <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
                </ui-select-no-choice>
              </ui-select>
            </td>
            <td class="sa-button-row">
              <button
                ng-if="saProfile.profile && !vm.disabled && !saProfile.locked"
                class="btn btn-default btn-sm"
                ng-click="saClick(saProfile.profile)"
                uib-tooltip="{{saProfile.profile.name}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
                ng-disabled="vm.loadingSa || vm.changingSa"
              >
                <i class="fas fa-sm fa-pencil-alt"></i>&nbsp;{{'EDIT' | translate}}
                <i ng-if="vm.loadingSa" class="fas fa-spinner fa-spin"></i>
              </button>
              <button
                ng-if="saProfile.profile && (vm.disabled || saProfile.locked)"
                class="btn btn-default btn-sm"
                ng-click="saClick(saProfile.profile)"
                uib-tooltip="{{saProfile.profile.name}}"
                tooltip-placement="auto top"
                tooltip-append-to-body="true"
                ng-disabled="vm.loadingSa || vm.changingSa"
              >
                <i class="far fa-eye"></i>&nbsp;{{'VIEW' | translate}}
                <i ng-if="vm.loadingSa" class="fas fa-spinner fa-spin"></i>
              </button>
              <button
                ng-if="!saProfile.locked"
                ng-disabled="vm.changingSa || !saProfile.profile || (ip.responsible.id != $root.auth.id && !checkPermission('ip.lock_sa'))"
                class="btn btn-success btn-sm"
                ng-click="lockSaModal(saProfile)"
              >
                <i class="fas fa-lock"></i>&nbsp;{{'LOCK' | translate}}
              </button>
              <button ng-if="saProfile.locked" class="btn btn-danger btn-sm">
                <i class="fas fa-lock"></i>&nbsp;{{'LOCKED' | translate}}
              </button>
            </td>
            <p>{{'PATH' | translate}}: {{ip.object_path}}</p>
          </tr>
        </tbody>
      </table>
      <form ng-if="vm.saFields.length" ng-submit="vm.saveSaModel(vm.selectedSa, vm.saModel)" class="edit-form sa-edit">
        <div ng-if="vm.saFields.length">
          <h4 class="profile-name">{{ vm.selectedSa.name }}</h4>
          <div ng-if="vm.saDataVersionList.length" class="data-version-list">
            {{'VERSIONS' | translate}}
            <select
              class="form-control"
              ng-disabled="vm.disabled"
              ng-change="vm.changeSaDataVersion(vm.saDataVersion)"
              ng-model="vm.saDataVersion"
              ng-options="x as vm.saDataVersionList.indexOf(x) == 0 ? 'Default' : vm.saDataVersionList.indexOf(x) for x in vm.saDataVersionList"
              >{{ x }}</select
            >
          </div>
        </div>
        <div class="loading-column w-100 text-center position-absolute absolute-top" ng-if="vm.fieldsLoading()">
          {{'LOADING' | translate}}
        </div>
        <formly-form model="vm.saModel" fields="vm.saFields" options="vm.options" form="vm.editSaForm"> </formly-form>
        <div class="button-wrapper">
          <button
            ng-if="vm.saFields.length && !vm.disabled && !saProfile.locked"
            type="submit"
            class="btn btn-primary"
            ng-disabled="vm.editSaForm.$invalid || angular.equals(vm.saOldModel, vm.saModel) || vm.savingSaModel"
          >
            {{'SAVE' | translate}} <i ng-if="vm.savingSaModel" class="fas fa-spinner fa-spin"></i>
          </button>
          <button
            ng-if="vm.saFields.length"
            ng-click="vm.saCancel()"
            class="btn btn-default cancel-button"
            translate="CANCEL"
          ></button>
        </div>
      </form>
      <div uib-alert ng-if="saAlert" style="width: 100%;" ng-class="'alert-' + (saAlert.type || 'warning')">
        {{saAlert.msg}}
      </div>
    </div>
    <div ng-if="saProfile.profile && saProfile.locked" id="edit-view" class="edit-view">
      <form
        id="edit-form"
        class="edit-form"
        ng-submit="vm.saveProfileModel(vm.selectedProfile.profile_type, vm.profileModel, vm.treeEditModel)"
        name="vm.editForm"
        novalidate
      >
        <div class="table-container">
          <table
            ng-if="saProfile.locked"
            style="margin-top: 10px; margin-bottom: 0px;"
            st-table="selectCollection"
            st-skip-natural="true"
            st-safe-src="selectRowCollection"
            class="table table-striped"
          >
            <thead>
              <tr>
                <th
                  class="column-entity"
                  uib-tooltip="{{'ENTITYDESC' | translate}}"
                  tooltip-placement="auto top"
                  tooltip-append-to-body="true"
                >
                  {{'PROFILE' | translate}}
                </th>
                <th
                  class="column-profile"
                  uib-tooltip="{{'PROFILEDESC' | translate}}"
                  tooltip-placement="auto top"
                  tooltip-append-to-body="true"
                >
                  {{'LABEL' | translate}}
                </th>
                <th class="column-view"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="profile in selectRowCollection" ng-if="profile.template.length">
                <div ng-if="profile.name">
                  <td>{{vm.mapProfileType(profile.profile_type)}}</td>
                  <td>
                    {{profile.name}}
                  </td>
                  <td>
                    <button
                      ng-if="!vm.disabled && (vm.types[profile.profile_type] && vm.types[profile.profile_type].disabled === false)"
                      type="button"
                      class="btn btn-default btn-sm"
                      ng-click="profileClick(profile, {})"
                      uib-tooltip="{{profile.name}}"
                      tooltip-placement="auto top"
                      tooltip-append-to-body="true"
                      ng-disabled="profile.template.length === 0 || vm.loadingProfileData[profile.profile_type]"
                    >
                      <i class="fas fa-sm fa-pencil-alt"></i>&nbsp;{{'EDIT' | translate}}
                    </button>
                    <button
                      ng-if="vm.disabled || (vm.types[profile.profile_type] && vm.types[profile.profile_type].disabled)"
                      type="button"
                      class="btn btn-default btn-sm"
                      ng-click="profileClick(profile, {})"
                      uib-tooltip="{{profile.name}}"
                      tooltip-placement="auto top"
                      tooltip-append-to-body="true"
                      ng-disabled="profile.template.length === 0 || vm.loadingProfileData[profile.profile_type]"
                    >
                      <i class="far fa-eye"></i>&nbsp;{{'VIEW' | translate}}
                    </button>
                    <i ng-if="vm.loadingProfileData[profile.profile_type]" class="fas fa-spinner fa-spin"></i>
                  </td>
                </div>
              </tr>
              <tr ng-if="!selectRowCollection.length && !profilesLoading" class="empty-table-indicator">
                <td colspan="3">{{'NO_RESULTS_FOUND' | translate}}</td>
              </tr>
              <tr ng-if="!selectRowCollection.length && profilesLoading" class="empty-table-indicator">
                <td class="loading-column" colspan="3">{{'LOADING' | translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <div ng-if="vm.profileFields.length">
          <h4 class="profile-name">{{ vm.selectedProfile.name }}</h4>
          <div class="data-version-list">
            {{'VERSIONS' | translate}}
            <select
              class="form-control"
              ng-disabled="vm.disabled"
              ng-change="vm.changeDataVersion(vm.profileIp, vm.dataVersion)"
              ng-model="vm.dataVersion"
              ng-options="x as vm.profileIp.data_versions.indexOf(x) == 0 ? 'Default' : vm.profileIp.data_versions.indexOf(x) for x in vm.profileIp.data_versions"
              >{{ x }}</select
            >
          </div>
        </div>
        <div class="loading-column w-100 text-center position-absolute absolute-top" ng-if="vm.fieldsLoading()">
          {{'LOADING' | translate}}
        </div>
        <formly-form
          ng-if="vm.profileFields.length"
          model="vm.profileModel"
          fields="vm.profileFields"
          options="vm.options"
          form="vm.editForm"
        >
        </formly-form>
        <div
          class="map-structure-editor"
          ng-if="profileToSave.structure.length && !angular.equals(profileToSave.structure, {})"
          ng-include
          src="'static/frontend/views/map_structure_tree.html'"
        ></div>
        <br ng-if="vm.profileFields.length && !vm.disabled" />
        <div class="button-wrapper">
          <button
            ng-if="vm.profileFields.length && !vm.disabled"
            type="submit"
            class="btn btn-primary"
            ng-disabled="vm.editForm.$invalid || angular.equals(vm.profileOldModel, vm.profileModel) || vm.savingProfileModel"
          >
            {{'SAVE' | translate}} <i ng-if="vm.savingProfileModel" class="fas fa-spinner fa-spin"></i>
          </button>
          <button
            ng-if="vm.profileFields.length"
            ng-click="vm.cancel()"
            class="btn btn-default"
            ng-disabled="vm.savingProfileModel"
          >
            {{'CANCEL' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
