<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'RECEIVE_INFORMATION_PACKAGE' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="table-x-overflow">
    <table class="table table-striped table-container">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{'LABEL' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ip.object_identifier_value}}</td>
          <td>{{ip.label}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <profile-editor
    disabled="true"
    ng-if="profileEditor"
    ip="ip"
    share-data="vm.getProfileData($event)"
  ></profile-editor>
  <div ng-if="requestForm" class="request-layout">
    <form id="request-form" name="vm.form" class="request-form" ng-submit="vm.receive(ips[0])">
      <div class="request-type">
        <div ng-if="vm.request.type == 'receive' && checkPermission('ip.receive')">
          <label>{{'COMMENT' | translate}}</label>
          <input class="form-control" ng-model="vm.request.purpose" />
        </div>
        <div ng-if="vm.request.type == 'receive' && checkPermission('ip.receive')">
          <label>{{'STORAGE_POLICY' | translate}}</label>
          <select
            type="select"
            required="true"
            class="form-control"
            ng-change="storagePolicyChange()"
            ng-model="vm.request.storagePolicy.value"
            ng-options="x.policy_name for x in vm.request.storagePolicy.options track by x.policy_id"
            required
          ></select>
        </div>
        <div ng-if="vm.request.type == 'receive' && checkPermission('ip.receive')">
          <label>{{'INFORMATION_CLASS' | translate}}</label>
          <input class="form-control" disabled="true" ng-model="vm.request.informationClass" />
        </div>
        <div
          uib-alert
          ng-if="informationClassAlert"
          style="width: 75%;"
          ng-class="'alert-' + (informationClassAlert.type || 'warning')"
        >
          {{informationClassAlert.message}}
        </div>
        <div ng-if="vm.request.type == 'receive' && checkPermission('ip.receive')">
          <label>{{'ACCESS.ARCHIVE' | translate}}</label>
          <div class="input-group">
            <ui-select
              ng-disabled="ip.archive !== null"
              allow-clear
              ng-model="vm.tags.archive.value"
              on-select="archiveChanged($item)"
              theme="bootstrap"
              sortable="true"
              close-on-select="true"
              append-to-body="false"
            >
              <ui-select-match ng-attr-placeholder="{{'ACCESS.ARCHIVE' | translate}}"
                >{{vm.tags.archive.value.name}}</ui-select-match
              >
              <ui-select-choices
                ng-hide="!$select.open"
                refresh-delay="0"
                refresh="getArchives($select.search)"
                repeat="x in vm.tags.archive.options | propsFilter: {name: $select.search}"
              >
                <div ng-bind-html="x.name | highlight: $select.search"></div>
              </ui-select-choices>
              <ui-select-no-choice>
                <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
              </ui-select-no-choice>
            </ui-select>
            <span class="input-group-btn">
              <button
                ng-disabled="vm.sa.profile_content_type"
                type="button"
                ng-click="vm.tags.archive.value = null"
                class="btn btn-sm btn-default"
              >
                <span class="fas fa-trash-alt"></span>
              </button>
            </span>
          </div>
          <div ng-if="vm.tags.archive.value" class="margin-top-5">
            <label>{{'ACCESS.CLASSIFICATION_STRUCTURE' | translate}}</label>
            <div class="input-group">
              <ui-select
                allow-clear
                ng-model="vm.tags.structure.value"
                on-select="structureChanged($item)"
                theme="bootstrap"
                sortable="true"
                close-on-select="true"
                append-to-body="false"
              >
                <ui-select-match ng-attr-placeholder="{{'ACCESS.CLASSIFICATION_STRUCTURE' | translate}}"
                  >{{vm.tags.structure.value.name}}</ui-select-match
                >
                <ui-select-choices
                  ng-hide="!$select.open"
                  refresh-delay="0"
                  refresh="getStructures(vm.tags.archive.value)"
                  repeat="x in vm.tags.structure.options | propsFilter: {name: $select.search}"
                >
                  <div ng-bind-html="x.name | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>
                  <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
                </ui-select-no-choice>
              </ui-select>
              <span class="input-group-btn">
                <button
                  ng-disabled="vm.sa.profile_content_type"
                  type="button"
                  ng-click="vm.tags.structure.value = null"
                  class="btn btn-sm btn-default"
                >
                  <span class="fas fa-trash-alt"></span>
                </button>
              </span>
            </div>
          </div>
          <div ng-if="vm.tags.structure.value && vm.tags.archive.value && !ip.has_cts" class="margin-top-5">
            <label>{{'ACCESS.STRUCTURE_UNIT' | translate}}</label>
            <div class="input-group">
              <ui-select
                allow-clear
                ng-model="vm.tags.structureUnits.value"
                theme="bootstrap"
                sortable="true"
                close-on-select="true"
                append-to-body="false"
              >
                <ui-select-match ng-attr-placeholder="{{'ACCESS.STRUCTURE_UNIT' | translate}}"
                  >{{vm.tags.structureUnits.value.name}}</ui-select-match
                >
                <ui-select-choices
                  ng-hide="!$select.open"
                  refresh-delay="0"
                  refresh="getStructureUnits(vm.tags.archive.value.parent_id, vm.tags.structure.value.id, $select.search)"
                  repeat="x in vm.tags.structureUnits.options | propsFilter: {name: $select.search}"
                >
                  <div ng-bind-html="x.name | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>
                  <div class="text-center">{{'NO_RESULTS_FOUND' | translate}}</div>
                </ui-select-no-choice>
              </ui-select>
              <span class="input-group-btn">
                <button type="button" ng-click="vm.tags.structureUnits.value = null" class="btn btn-sm btn-default">
                  <span class="fas fa-trash-alt"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div ng-if="vm.request.type == 'receive' && checkPermission('ip.receive')" class="margin-top-5">
          <input type="checkbox" ng-model="vm.request.allowUnknownFiles" />
          <label>{{'ALLOW_UNKNOWN_FILES' | translate}}</label>
        </div>
      </div>
      <div class="request-params modal-validators">
        <div ng-include src="'static/frontend/views/validator_choices.html'"></div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="vm.skip()">
    {{'SKIP' | translate}} <i class=" fas fa-angle-double-right"></i>
  </button>
  <div class="receive-footer">
    <button
      class="btn btn-primary"
      ng-disabled="vm.receiving || receiveDisabled || vm.form.$invalid || ip.state != 'Prepared'"
      type="submit"
      ng-click="vm.confirmReceiveModal(ip)"
    >
      {{'RECEIVE' | translate}}
    </button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()" ng-disabled="vm.receiving">
      {{'CANCEL' | translate}}
    </button>
  </div>
</div>
