<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ACCESS.REMOVE_STRUCTURE_RULE' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <p>
    {{'ACCESS.REMOVE_STRUCTURE_RULE_DESC' | translate}}
  </p>
  <result-field label="{{'TYPE' | translate}}" data="$ctrl.data.rule.key"></result-field>
  <result-field
    label="{{'ACCESS.CAN_BE_MOVED' | translate}}"
    data="$ctrl.data.rule.value.movable ? $ctrl.data.rule.value.movable : false "
    type="bool"
  ></result-field>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" type="button" ng-click="$ctrl.remove()" ng-disabled="$ctrl.removing">
    {{'REMOVE' | translate}} <i ng-if="$ctrl.removing" class="fas fa-spinner fa-spin" />
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.removing">
    {{'CANCEL' | translate}}
  </button>
</div>
