<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'DOYOUWANTTOREMOVEIP' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <b>IP: {{$ctrl.ip.object_identifier_value}}</b>
  <div ng-if="$ctrl.ip.package_type == 1">
    <hr />
    {{'IP_DELETE' | translate}}
    <ul>
      <li ng-repeat="x in $ctrl.ip.information_packages">
        {{x.object_identifier_value}}
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button
    class="btn btn-danger"
    type="button"
    ng-click="$ctrl.remove($ctrl.data.ip)"
    focused="true"
    ng-disabled="$ctrl.removing"
  >
    {{'REMOVE' | translate}} <i ng-if="$ctrl.removing" class="fas fa-spinner fa-spin"></i>
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.removing">
    {{'CANCEL' | translate}}
  </button>
</div>
