<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'REMOVE' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <h4>
    {{'ARCHIVE_MAINTENANCE.DO_YOU_WANT_TO_REMOVE_CONVERSION' | translate:$ctrl.data.conversion}}?
  </h4>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary"
    type="button"
    ng-disabled="$ctrl.removingRule"
    ng-click="$ctrl.removeConversion()"
    focused="true"
  >
    {{'OK' | translate}} <i ng-if="$ctrl.removingRule" class="fas fa-spinner fa-spin"></i>
  </button>
  <button class="btn btn-default" type="button" ng-disabled="$ctrl.removingRule" ng-click="$ctrl.cancel()">
    {{'CANCEL' | translate}}
  </button>
</div>
