<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'DO_YOU_WANT_TO_REMOVE_ORDER' | translate}}?</h3>
</div>
<div class="modal-body" id="modal-body">
  <b>{{'ORDER' | translate}}: {{$ctrl.data.order.label}}</b>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary"
    type="button"
    ng-click="$ctrl.remove($ctrl.data.order)"
    focused="true"
    ng-disabled="$ctrl.removing"
  >
    {{'OK' | translate}} <i ng-if="$ctrl.removing" class="fas fa-spinner fa-spin" />
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.removing">
    {{'CANCEL' | translate}}
  </button>
</div>
