<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'ARCHIVE_MAINTENANCE.RUN_CONVERSION_JOB' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="table-x-overflow">
    <table class="table table-striped table-container">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{'LABEL' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{$ctrl.data.job.id}}</td>
          <td>{{$ctrl.data.job.label}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    uib-alert
    class="alert-danger"
    ng-if="angular.equals($ctrl.data.job.specification, {}) || $ctrl.data.job.specification == null"
  >
    {{'ARCHIVE_MAINTENANCE.ONE_SPECIFICATION_REQUIRED' | translate}}<br />
    <a ng-click="$ctrl.editJob()"> {{'ARCHIVE_MAINTENANCE.EDIT_CONVERSION_JOB' | translate}} </a>
  </div>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary"
    type="button"
    ng-disabled="$ctrl.running || angular.equals($ctrl.data.job.specification, {}) || $ctrl.data.job.specification == null"
    ng-click="$ctrl.previewModal($ctrl.data.job)"
  >
    {{'ARCHIVE_MAINTENANCE.PREVIEW' | translate}} <i ng-if="$ctrl.running" class="fas fa-spinner fa-spin"></i>
  </button>
  <button
    class="btn btn-primary"
    type="button"
    ng-disabled="$ctrl.running || angular.equals($ctrl.data.job.specification, {}) || $ctrl.data.job.specification == null"
    ng-click="$ctrl.runJob($ctrl.data.job)"
    focused="true"
  >
    {{'ARCHIVE_MAINTENANCE.RUN' | translate}} <i ng-if="$ctrl.running" class="fas fa-spinner fa-spin"></i>
  </button>
  <button class="btn btn-default" type="button" ng-disabled="$ctrl.running" ng-click="$ctrl.cancel()">
    {{'CLOSE' | translate}}
  </button>
</div>
