<div class="modal-heading">
  <h3 class="modal-title" id="modal-title">{{'CONVERSION_VIEW.SAVE_WORKFLOW_DETAILS' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <form novalidate class="simple-form">
    <label class="control-label"
      >Name<br />
      <input type="text" class="form-control" ng-model="$ctrl.workflowName" placeholder="Name of workflow"
    /></label>
    <label class="control-label"
      >Status<br />
      <input type="text" class="form-control" ng-model="$ctrl.status" placeholder="Status of workflow"
    /></label>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
