<div class="classification-select">
  <label class="">
    {{'ACCESS.CLASSIFICATION_STRUCTURE' | translate}}
  </label>
  <div class="flex-row">
    <select
      class="form-control version-select"
      ng-model="vm.structure.id"
      ng-change="vm.structureChanged(vm.structure.id)"
    >
      <option
        ng-repeat="classification in vm.archiveStructures"
        value="{{classification.id}}"
        ng-disabled="!vm.existsForRecord(classification.id)"
      >
        {{StructureName.getNameWithVersion(classification)}}&nbsp;{{!vm.existsForRecord(classification.id) ?
        '('+('UNAVAILABLE' | translate)+')':''}}
      </option>
    </select>
  </div>
</div>
<div class="flex-wrap">
  <button
    ng-disabled="vm.locationButtonDisabled()"
    class="btn btn-sm btn-primary"
    style="margin-right: 2px;"
    ng-if="vm.recordTreeInstance"
    ng-click="vm.addNodeLocationModal(vm.getChecked())"
    permission
    permission-only="'tags.change_tag_location'"
  >
    {{'ACCESS.LINK_TO_LOCATION' | translate}}
  </button>
  <button
    ng-disabled="vm.deliveryButtonDisabled()"
    class="btn btn-sm btn-primary"
    ng-if="vm.recordTreeInstance"
    ng-click="vm.addNodeDeliveryModal(vm.getChecked())"
    permission
    permission-only="'tags.change_transfer'"
  >
    {{'ACCESS.LINK_TO_TRANSFER' | translate}}
  </button>
</div>
<hr class="small" ng-if="vm.record.structures.length > 0" />
<div
  ng-class="{'pt-base': vm.record.structure}"
  js-tree="vm.recordTreeConfig"
  should-apply="vm.applyRecordModelChanges()"
  ng-model="vm.recordTreeData"
  tree="vm.recordTreeInstance"
  tree-events="changed:vm.treeChange;ready:vm.setType;open_node:vm.expandChildren;move_node:vm.dropNode;"
></div>
