<div>
  <label>
    {{'PATH' | translate}}
  </label>
  <ul class="breadcrumb" ng-if="vm.record.breadcrumbs && vm.record.breadcrumbs.length > 0">
    <li ng-repeat="x in vm.record.breadcrumbs">
      <a ng-if="$index !== vm.record.breadcrumbs.length-1" ng-click="vm.goToNode(x._id)">{{x.name}}</a>
      {{$index === vm.record.breadcrumbs.length-1?x.name:''}}
    </li>
  </ul>
  <div ng-if="vm.record.structures.length === 0 && (!vm.record.breadcrumbs || vm.record.breadcrumbs.length === 0)">
    <button class="btn btn-link text-align-start" ng-click="vm.placeNodeInArchiveModal(vm.record)">
      {{'ACCESS.PLACE_IN_ARCHIVE' | translate}}
    </button>
  </div>
</div>
