<div class="document-result">
  <h3 title="Namn">
    <strong title="Namn" ng-if="vm.record._source.name">
      {{vm.record._source.name}}
    </strong>
  </h3>
  <h4 ng-if="vm.record.type">{{vm.record.type}}</h4>
  <div ng-if="vm.record._source.desc">
    <p ng-if="vm.record._source.desc" class="result-description m-0">
      {{vm.record._source.desc}}
    </p>
  </div>

  <div title="Dokumentnummer" ng-if="vm.record.breadcrumbs[vm.record.breadcrumbs.length-2]._source.arkivobjekt_id">
    <strong>Dokumentnummer:</strong> {{ vm.record.breadcrumbs[vm.record.breadcrumbs.length-2]._source.arkivobjekt_id }}
    <br />
  </div>
  <div title="Handling" ng-if="vm.record.breadcrumbs[vm.record.breadcrumbs.length-2]._source.name">
    <strong>Handling:</strong> {{ vm.record.breadcrumbs[vm.record.breadcrumbs.length-2]._source.name }}
    <br />
  </div>

  <div
    ng-if="vm.record._source.create_date || vm.record._source.arrival_date || vm.record._source.dispatch_date || vm.record._source.decision_date || vm.record._source.preparation_date || vm.record._source.ended_date"
  >
    <strong>Datum:</strong>
    <result-field label="Skapad" data="vm.record._source.create_date" type="date"></result-field>
    <result-field label="Inkommen" data="vm.record._source.arrival_date" type="date"></result-field>
    <result-field label="Expedierad" data="vm.record._source.dispatch_date" type="date"></result-field>
    <result-field label="Beslutat" data="vm.record._source.decision_date" type="date"></result-field>
    <result-field label="Upprättad" data="vm.record._source.preparation_date" type="date"></result-field>
    <result-field label="Avslutat" data="vm.record._source.ended_date" type="date"></result-field>
    <br />
  </div>
  <br />
  <div ng-if="vm.record._source.ip"><strong>Förvaringsenhet:</strong> {{ vm.record._source.ip }}</div>
  <br />

  <p
    style="color: red; white-space: nowrap;"
    ng-if="vm.record.type == 'document' && !(vm.record._source.terms_and_condition == null || checkPermission('tags.view_pul'))"
  >
    Ej behörig att visa
  </p>
  <result-field
    label="{{'PATH' | translate}}"
    stronglabel="true"
    data="vm.record._source.href +'/'+ vm.record._source.filename"
  ></result-field>
  <result-field
    label="{{'CHANGED' | translate}}"
    stronglabel="true"
    data="vm.record._source.modified"
    type="date-long"
  ></result-field>
  <result-field
    label="{{'ACCESS.CONTENT_TYPE' | translate}}"
    stronglabel="true"
    data="vm.record._source.attachment.content_type"
  ></result-field>
  <result-field
    label="{{'SIZE' | translate}}"
    stronglabel="true"
    data="vm.record._source.size"
    type="filesize"
  ></result-field>
  <button class="btn btn-success btn-small margin-top-5" ng-click="vm.viewFile(vm.record._source)">
    <i class="far fa-eye"></i>&nbsp;{{'VIEW' | translate}}
  </button>
</div>
