<div class="search">
  <div class="content-wrapper">
    <div class="search-page">
      <form ng-submit="vm.searchSubmit()">
        <div class="search-form">
          <input
            class="form-control search-field"
            ng-change="vm.searchSubmit()"
            ng-model-options="{debounce: 300}"
            aria-label="{{ 'SEARCH' | translate }}"
            ng-model="vm.filterObject.q"
          />
          <div class="search-button-column">
            <button type="submit" class="btn btn-primary">
              {{'SEARCH' | translate}} <i class="fas fa-search"></i>
            </button>
            <button type="button" ng-disabled="vm.clearDisabled()" class="btn btn-default" ng-click="vm.clearSearch()">
              {{'CLEAR' | translate}}
            </button>
          </div>
        </div>
      </form>
      <div class="flex-row mb-base mt-base">
        <button class="btn btn-default" ng-click="vm.savedSearchVisible = !vm.savedSearchVisible;">
          <i class="fas" ng-class="{'fa-plus': vm.savedSearchVisible, 'fa-minus': !vm.savedSearchVisible}"></i
          >&nbsp;{{'ACCESS.SAVED_SEARCHES' | translate}}
        </button>
        <button
          class="btn btn-default"
          uib-tooltip="{{'ACCESS.SAVE_SEARCH' | translate}}"
          tooltip-position="auto top"
          ng-click="vm.saveSearchModal()"
        >
          {{'ACCESS.SAVE_SEARCH' | translate}}
        </button>
      </div>
      <div class="mb-base" uib-collapse="vm.savedSearchVisible">
        <div class="table-x-overflow table-container">
          <table class="table table-striped m-0">
            <thead>
              <tr>
                <th>
                  {{'NAME' | translate}}
                </th>
                <th class="white-space-nowrap shrink">
                  {{'REMOVE' | translate}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                ng-repeat="x in vm.searchList"
                ui-state="home.archivalDescriptions.search"
                ui-state-params="{query: x.query}"
                ui-state-opts="{reload: true}"
                class="selectable"
              >
                <td>
                  {{x.name}}
                </td>
                <td class="text-center shrink">
                  <button
                    class="btn btn-default btn-sm fas fa-trash-alt"
                    ng-click="vm.removeSearchModal(x); $event.stopPropagation();"
                    uib-tooltip="{{'REMOVE' | translate}}"
                    tooltip-placement="auto top"
                    tooltip-append-to-body="true"
                  ></button>
                </td>
              </tr>
              <tr ng-if="!vm.searchList.length && !loadingSearches" class="empty-table-indicator">
                <td colspan="2">{{'NO_RESULTS_FOUND' | translate}}</td>
              </tr>
              <tr ng-if="!vm.searchList.length && loadingSearches" class="empty-table-indicator">
                <td class="loading-column" colspan="2">{{'LOADING' | translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button ng-if="!vm.showFilters" class="btn btn-default" ng-click="vm.showFilters = true">
        <i class="fas fa-plus"></i>&nbsp;{{'FILTERS' | translate}}
      </button>
      <button ng-if="vm.showFilters" class="btn btn-default" ng-click="vm.showFilters = false">
        <i class="fas fa-minus"></i>&nbsp;{{'FILTERS' | translate}}
      </button>
      <div uib-collapse="!vm.showFilters" class="filters">
        <div ng-include src="'static/frontend/views/search_filters.html'"></div>
        <hr />
        <div>
          <label>
            {{'ACCESS.PERSONAL_IDENTIFICATION_NUMBER' | translate}}
            <input
              ng-model="vm.filterObject.personal_identification_number"
              type="text"
              maxlength="12"
              class="form-control"
              ng-enter="vm.searchSubmit(vm.searchString)"
            />
          </label>
        </div>
        <hr />
        <label ng-if="vm.fileExtensions.length">
          {{'ACCESS.FILE_EXTENSIONS' | translate}}
        </label>
        <div class="file-type-filters">
          <div class="file-filter" ng-repeat="x in vm.fileExtensions">
            <label>
              <input
                type="checkbox"
                ng-model="vm.filterObject.extension[x.key]"
                ng-change="vm.searchSubmit(vm.searchString)"
              />
              {{x.key}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="search-detail-wrapper">
      <div>
        <uib-tabset
          ng-if="vm.searchResult.length || vm.showResults || vm.showTree"
          active="vm.activeTab"
          class="tabs tabs-style-bar"
        >
          <uib-tab ui-sref="home.archivalDescriptions.search" index="0" heading="{{'ACCESS.HITS' | translate}}">
          </uib-tab>
          <uib-tab
            ng-click="vm.goToDetailView()"
            ng-show="latestRecord || ('home.archivalDescriptions.search.detail' | isState) || ('home.archivalDescriptions.search.information_package' | isState) || ('home.archivalDescriptions.search.component' | isState)|| ('home.archivalDescriptions.search.archive' | isState) || ('home.archivalDescriptions.search.document' | isState) || ('home.archivalDescriptions.search.directory' | isState) || ('home.archivalDescriptions.search.structure_unit' | isState)"
            index="1"
            heading="{{'ACCESS.RECORD' | translate}}"
          >
          </uib-tab>
        </uib-tabset>
      </div>
      <div class="tree-result-wrapper" ng-if="vm.activeTab === 0">
        <div
          resizable
          r-directions="['right']"
          r-grabber="<div class='resize-grabber'></div>"
          r-flex="true"
          class="filter-tree"
        >
          <div class="pb-1">
            <b>
              {{'ACCESS.NARROW_RESULTS' | translate}}
            </b>
          </div>
          <hr class="small" />
          <div class="px-base">
            <search-filter
              label=" {{'TYPE' | translate}}"
              options="vm.options.types"
              label-prop="key"
              value-prop="key"
              update="vm.filterNodeTypes(search)"
              ng-model="vm.filterObject.type"
              ng-change="vm.searchSubmit()"
            >
            </search-filter>
            <search-filter
              label="{{'ACCESS.ARCHIVES' | translate}}"
              options="vm.options.archives"
              label-prop="name"
              value-prop="id"
              update="vm.getArchives(search)"
              ng-model="vm.filterObject.archives"
              ng-change="vm.searchSubmit()"
            >
            </search-filter>
            <search-filter
              label=" {{'ARCHIVECREATORS' | translate}}"
              options="vm.options.agents"
              label-prop="full_name"
              value-prop="id"
              update="vm.getAgents(search)"
              ng-model="vm.filterObject.agents"
              ng-change="vm.searchSubmit()"
            >
            </search-filter>
          </div>
        </div>
        <div class="search-results" st-persist="{{vm.tableState}}" st-table="vm.searchResult" st-pipe="vm.search">
          <div class="h-100 w-100">
            <div class="search-toolbar" ng-include src="'static/frontend/views/search_toolbar.html'"></div>
            <div ng-show="vm.resultViewType == 'list'" class="table-x-overflow table-container search-result-table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>{{'TYPE' | translate}}</th>
                    <th>{{'ACCESS.ARCHIVE' | translate}}</th>
                    <th st-sort="reference_code" class="clickable white-space-nowrap">
                      {{'ACCESS.REFERENCE_CODE' | translate}}
                    </th>
                    <th st-sort="name" class="clickable">{{'ACCESS.TITLE' |translate}}</th>
                    <th>{{'DATE' |translate}}</th>
                    <th>{{'DESCRIPTION' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    ng-repeat="x in vm.searchResult"
                    ng-click="vm.openResult(x, $event)"
                    class="result-item-table clickable"
                  >
                    <td>
                      {{x.type}}
                    </td>
                    <td class="search-archive-column">
                      {{x.archive.name}}
                    </td>
                    <td>
                      <div class="white-space-nowrap d-flex">
                        <span ng-if="x.structure_units.length > 0">
                          {{x.structure_units[0].reference_code}}:
                        </span>
                        <div ng-bind-html="x.reference_code"></div>
                      </div>
                    </td>
                    <td ng-bind-html="x.name" class="search-name-column"></td>
                    <td class="search-td-nowrap">{{x.unit_dates.date}}</td>
                    <td ng-bind-html="x.desc"></td>
                  </tr>
                  <tr ng-if="!vm.searchResult.length && !ipLoading" class="empty-table-indicator">
                    <td colspan="7">{{'NO_RESULTS_FOUND' | translate}}</td>
                  </tr>
                  <tr ng-if="!vm.searchResult.length && ipLoading" class="empty-table-indicator">
                    <td class="loading-column" colspan="7">{{'LOADING' | translate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div ng-show="vm.resultViewType == 'grid'">
              <div class="grid-view">
                <div class="flex-grid">
                  <div ng-repeat="x in vm.searchResult">
                    <div class="clickable result-item-grid" ng-click="vm.openResult(x, $event)">
                      <div class="item-image">
                        <span ng-if="x._index == 'archive'" class="fas fa-3x fa-archive"></span>
                        <span ng-if="x._index == 'component'" class="far fa-3x fa-folder"></span>
                        <span ng-if="x._index == 'document'" class="far fa-3x fa-file"></span>
                      </div>
                      <div class="metadata-wrapper">
                        <b>{{x.type}}</b>
                        <br />
                        <b>{{x.reference_code}}</b>
                        <p>
                          <span class="result-name" ng-bind-html="x.name"></span>
                          <span ng-if="x.unit_dates.date">({{x.unit_dates.date}})</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              ng-if="vm.searchResult.length >= 10"
              class="search-toolbar"
              ng-include
              src="'static/frontend/views/search_toolbar.html'"
            ></div>
          </div>
        </div>
      </div>
      <div ng-if="vm.activeTab !== 0" ui-view></div>
    </div>
  </div>
</div>
