<div class="search-admin">
  <div class="content-wrapper">
    <h4>
      {{'SEARCH_ADMINISTRATION' | translate}}
    </h4>

    <div>
      <uib-tabset active="vm.activeTab" class="tabs tabs-style-bar">
        <uib-tab
          index="0"
          ui-sref="home.administration.searchAdmin.archiveManager"
          heading="{{'ACCESS.NEW_ARCHIVE' | translate}}"
        >
        </uib-tab>
        <uib-tab
          index="1"
          ui-sref="home.administration.searchAdmin.classificationStructures"
          heading="{{'ACCESS.CLASSIFICATION_STRUCTURES' | translate}}"
        >
        </uib-tab>
      </uib-tabset>
      <div div="w-100" ui-view></div>
    </div>
  </div>
</div>
