<div class="modal-heading">
  <div>
    <h3 class="modal-title" id="modal-title">
      {{'PREVIEW_MIGRATION' | translate}}
    </h3>
  </div>
</div>
<div class="modal-body" id="modal-body" st-table="$ctrl.previews" st-pipe="$ctrl.previewPipe">
  <p>
    {{'PREVIEW_MIGRATION_DESC' | translate}}
  </p>
  <hr class="small" />
  <div class="title-action-button-row">
    <div class="title">
      <h4>
        {{'INFORMATION_PACKAGES' | translate}}
      </h4>
    </div>
    <div class="action-button"></div>
  </div>
  <div class="search-prepare-wrapper">
    <select
      tabindex="-1"
      id="items-per-page"
      class="form-control items-per-page"
      ng-model="$ctrl.itemsPerPage"
      ng-options="x.value as x.name for x in $root.itemsPerPageOptions"
      uib-tooltip="{{'ITEMSPERPAGE' | translate}}"
      tooltip-placement="auto top"
      tooltip-append-to-body="true"
    ></select>
    <div class="refresh-icon">
      <span
        ng-click="$ctrl.updatePreviews()"
        class="clickable angular-animate fas fa-sync-alt fa-lg"
        ng-class="{'fa-sync-alt-animate': $ctrl.previewLoading }"
        uib-tooltip="{{'REFRESHTABLEDESC' | translate}}"
        tooltip-placement="auto left"
        tooltip-append-to-body="true"
      ></span>
    </div>
  </div>
  <div class="table-x-overflow">
    <table class="table table-striped table-container">
      <thead>
        <tr>
          <th class="shrink"></th>
          <th>ID</th>
          <th>{{'LABEL' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat-start="previewItem in $ctrl.previews"
          ng-click="$ctrl.togglePreviewRow(previewItem)"
          class="selectable"
        >
          <td class="shrink">
            <i
              class="fas"
              ng-class="{'fa-plus': previewItem.collapsed, 'fa-minus': !previewItem.collapsed, 'fa-spinner fa-spin': previewItem.targetsLoading}"
            ></i>
          </td>
          <td>{{previewItem.object_identifier_value}}</td>
          <td>{{previewItem.label}}</td>
        </tr>
        <tr
          ng-if="previewItem.targets.length && !previewItem.collapsed"
          ng-repeat="target in previewItem.targets"
          style="background-color:rgba(50,120,255,.1);"
          ng-repeat-end
        >
          <td></td>
          <td>{{target.id}}</td>
          <td>
            {{target.name}}
          </td>
        </tr>
        <tr ng-if="!previewItem.targets.length && previewItem.targetsLoading" class="empty-table-indicator">
          <td class="loading-column" colspan="3">{{'LOADING' | translate}}</td>
        </tr>
        <tr ng-if="!$ctrl.previews.length" class="empty-table-indicator">
          <td colspan="3">{{'NO_RESULTS_FOUND' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="!initLoad">
    <div
      class="text-center"
      st-template="static/frontend/views/pagination.html"
      st-pagination=""
      st-items-by-page="$ctrl.itemsPerPage"
      st-displayed-pages="7"
    ></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" focused="true">
    {{ "CLOSE" | translate }}
  </button>
</div>
