<div
  ng-if="('home.producer' | includedByState) || ('home.ingest' | includedByState) || ('home.access' | includedByState) || ('home.archivalDescriptions' | includedByState) || ('home.administration' | includedByState) || ('home.archiveMaintenance' | includedByState)"
>
  <div tabindex="-1" ng-if="'home.producer' | includedByState" class="sub-menu">
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.producer.prepareIp')"
      class="nav-item sliding-middle-out"
      ng-class="{'chosen': $state.includes('home.producer.prepareIp')}"
      ui-sref="home.producer.prepareIp"
      ng-if="checkPermissions('home.producer.prepareIp')"
      >{{('PREPAREIP' | translate)}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.producer.collectContent')"
      class="nav-item sliding-middle-out"
      ng-class="{'chosen': $state.includes('home.producer.collectContent')}"
      ui-sref="home.producer.collectContent"
      ng-if="checkPermissions('home.producer.collectContent')"
      >{{('COLLECTCONTENT' | translate)}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.producer.createSip')"
      class="nav-item sliding-middle-out"
      ng-class="{'chosen': $state.includes('home.producer.createSip')}"
      ui-sref="home.producer.createSip"
      ng-if="checkPermissions('home.producer.createSip')"
      >{{('CREATESIP' | translate)}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.producer.submitSip')"
      class="nav-item sliding-middle-out"
      ng-class="{'chosen': $state.includes('home.producer.submitSip')}"
      ui-sref="home.producer.submitSip"
      ng-if="checkPermissions('home.producer.submitSip')"
      >{{('SUBMITSIP' | translate)}}</a
    >
  </div>
  <div tabindex="-1" ng-if="'home.ingest' | includedByState" class="sub-menu">
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.ingest.reception')"
      ui-sref="home.ingest.reception"
      ng-class="{chosen: $state.current.name == 'home.ingest.reception'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.ingest.reception')"
      >{{'RECEPTION' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.ingest.ipApproval')"
      ui-sref="home.ingest.ipApproval"
      ng-class="{chosen: $state.current.name == 'home.ingest.ipApproval'}"
      class="nav-item sliding-middle-out"
      style="margin-left: 5px;"
      ng-if="checkPermissions('home.ingest.ipApproval')"
      >{{'APPROVAL' | translate}}</a
    >
  </div>
  <div tabindex="-1" ng-if="'home.access' | includedByState" class="sub-menu">
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.access.accessIp')"
      ui-sref="home.access.accessIp"
      ng-class="{chosen: $state.current.name == 'home.access.accessIp'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.access.accessIp')"
      style="margin-left: 5px;"
      >{{'STORAGE_UNITS' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.access.orders')"
      ui-sref="home.access.orders"
      ng-class="{chosen: $state.current.name =='home.access.orders'}"
      class="nav-item sliding-middle-out"
      style="margin-left: 5px;"
      ng-if="checkPermissions('home.access.orders')"
      >{{('ORDERS' | translate)}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.access.createDip')"
      ui-sref="home.access.createDip"
      ng-class="{chosen: $state.current.name == 'home.access.createDip'}"
      class="nav-item sliding-middle-out"
      style="margin-left: 5px;"
      ng-if="checkPermissions('home.access.createDip')"
      >{{'DISSEMINATION' | translate}}</a
    >
  </div>
  <div tabindex="-1" ng-if="'home.archivalDescriptions' | includedByState" class="sub-menu">
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.archivalDescriptions.search')"
      class="nav-item sliding-middle-out"
      ng-class="{'chosen': $state.includes('home.archivalDescriptions.search')}"
      ui-sref="home.archivalDescriptions.search"
      ng-if="checkPermissions('home.archivalDescriptions.search')"
      >{{('SEARCH' | translate)}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.archivalDescriptions.archiveCreators')"
      class="nav-item sliding-middle-out"
      ng-class="{'chosen': $state.includes('home.archivalDescriptions.archiveCreators')}"
      ui-sref="home.archivalDescriptions.archiveCreators"
      ng-if="checkPermissions('home.archivalDescriptions.archiveCreators')"
      >{{('ARCHIVECREATORS' | translate)}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.archivalDescriptions.archiveManager')"
      class="nav-item sliding-middle-out"
      ng-class="{'chosen': $state.includes('home.archivalDescriptions.archiveManager')}"
      ui-sref="home.archivalDescriptions.archiveManager"
      ng-if="checkPermissions('home.archivalDescriptions.archiveManager')"
      >{{('ACCESS.ARCHIVES' | translate)}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.archivalDescriptions.classificationStructures')"
      class="nav-item sliding-middle-out"
      ng-class="{'chosen': $state.includes('home.archivalDescriptions.classificationStructures')}"
      ui-sref="home.archivalDescriptions.classificationStructures"
      ng-if="checkPermissions('home.archivalDescriptions.classificationStructures')"
      >{{('ACCESS.CLASSIFICATION_STRUCTURES' | translate)}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.archivalDescriptions.location')"
      ui-sref="home.archivalDescriptions.location"
      ng-class="{chosen: $state.current.name == 'home.archivalDescriptions.location'}"
      class="nav-item sliding-middle-out"
      style="margin-left: 5px;"
      ng-if="checkPermissions('home.archivalDescriptions.location')"
      >{{'LOCATION' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.archivalDescriptions.deliveries')"
      ui-sref="home.archivalDescriptions.deliveries"
      ng-class="{chosen: $state.includes('home.archivalDescriptions.deliveries')}"
      class="nav-item sliding-middle-out"
      style="margin-left: 5px;"
      ng-if="checkPermissions('home.archivalDescriptions.deliveries')"
      >{{'DELIVERIES' | translate}}</a
    >
  </div>
  <div tabindex="-1" ng-if="'home.administration' | includedByState" class="sub-menu">
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.administration.mediaInformation')"
      ui-sref="home.administration.mediaInformation"
      ng-class="{chosen: $state.current.name == 'home.administration.mediaInformation'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.administration.mediaInformation')"
      >{{'MEDIAINFORMATION' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.administration.robotInformation')"
      ui-sref="home.administration.robotInformation"
      ng-class="{chosen: $state.current.name == 'home.administration.robotInformation'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.administration.robotInformation')"
      >{{'ROBOTINFORMATION' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.administration.queues')"
      ui-sref="home.administration.queues"
      ng-class="{chosen: $state.current.name == 'home.administration.queues'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.administration.queues')"
      >{{'QUEUES' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.administration.storageMigration')"
      ui-sref="home.administration.storageMigration"
      ng-class="{chosen: $state.current.name == 'home.administration.storageMigration'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.administration.storageMigration')"
      >{{'STORAGEMIGRATION' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.administration.storageMaintenance')"
      ui-sref="home.administration.storageMaintenance"
      ng-class="{chosen: $state.current.name == 'home.administration.storageMaintenance'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.administration.storageMaintenance')"
      >{{'STORAGEMAINTENANCE' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.administration.recovery')"
      ui-sref="home.administration.recovery"
      ng-class="{chosen: $state.current.name == 'home.administration.recovery'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.administration.recovery')"
      >{{'RECOVERY' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.administration.profileManager')"
      ui-sref="home.administration.profileManager"
      ng-class="{chosen: $state.includes('home.administration.profileManager')}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.administration.profileManager')"
      >{{'PROFILEMANAGER' | translate}}</a
    >
  </div>
  <div tabindex="-1" ng-if="'home.archiveMaintenance' | includedByState" class="sub-menu">
    <!--<a tabindex="0" ng-keydown="navKeydownListener($event, 'home.archiveMaintenance.start')" ui-sref="home.archiveMaintenance.start" ng-class="{chosen: $state.current.name == 'home.archiveMaintenance.start'}" class="nav-item sliding-middle-out" ng-if="checkPermissions('home.archiveMaintenance.start')">{{'OVERVIEW' | translate}}</a>-->
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.archiveMaintenance.appraisal')"
      ui-sref="home.archiveMaintenance.appraisal"
      ng-class="{chosen: $state.current.name == 'home.archiveMaintenance.appraisal'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.archiveMaintenance.appraisal')"
      >{{'APPRAISAL' | translate}}</a
    >
    <a
      tabindex="0"
      ng-keydown="navKeydownListener($event, 'home.archiveMaintenance.conversion')"
      ui-sref="home.archiveMaintenance.conversion"
      ng-class="{chosen: $state.current.name == 'home.archiveMaintenance.conversion'}"
      class="nav-item sliding-middle-out"
      ng-if="checkPermissions('home.archiveMaintenance.conversion')"
      >{{'FORMAT_CONVERSION' | translate}}</a
    >
    <!--<a tabindex="0" ng-keydown="navKeydownListener($event, 'home.archiveMaintenance.appraisal')" ui-sref="home.archiveMaintenance.appraisal" class="nav-item sliding-middle-out" ng-if="checkPermissions('home.archiveMaintenance.mediaMigration')">{{'MEDIA_MIGRATION' | translate}}</a>-->
  </div>
</div>
