<div class="version-info-page w-100">
  <h4>ESSArch Support</h4>
  <p>{{'SYSINFO.SUPPORTROW1' | translate}}</p>
  <p>{{'SYSINFO.SUPPORTROW2' | translate}}</p>
  <p>
    {{'SYSINFO.SUPPORTROW3' | translate}} <i class="fas fa-arrow-right"></i> "{{'SEETRACEBACK' | translate}}"
    <i class="fas fa-arrow-right"></i> "{{'STATE_TREE.COPYTRACEBACK' | translate}}".
  </p>
  <a href="http://project.essolutions.se/projects/essarch" title="ES Solutions support" target="_blank"
    >ES Solutions support</a
  >
  <br />
  <a href="http://www.essolutions.se" title="Essolutions.se" target="_blank">{{'SYSINFO.CONTACT' | translate}}</a>
</div>
