<div class="top-alert-container" ng-if="vm.visible && vm.alerts.length > 0">
  <div
    ng-if="vm.visible && vm.alerts.length > 0"
    class="angular-animate top-alert"
    ng-class="[vm.alerts[0].level, {'top-alert-expand': vm.alerts.length > 0}]"
  >
    <div class="alert-text-icons-row">
      <div
        class="alert-date"
        tooltip-placement="right"
        uib-tooltip="{{vm.alerts[0].time_created | date:'yyyy-MM-dd HH:mm:ss'}}"
      >
        {{vm.alerts[0].time_created | relativeDate}}
      </div>
      <div ng-if="!vm.alerts[0].options.isHtml" class="alert-text" ng-click="vm.toggleAlerts()">
        {{vm.alerts[0].message}}
      </div>
      <div
        ng-if="vm.alerts[0].options.isHtml"
        class="alert-text"
        ng-click="vm.toggleAlerts()"
        ng-bind-html="vm.alerts[0].message"
      ></div>
      <div class="icon-row">
        <span ng-if="vm.alerts.length > 0 && vm.showAlerts" ng-click="vm.toggleAlerts()" class="fas fa-minus"></span>
        <span ng-if="vm.alerts.length == 0 || !vm.showAlerts" ng-click="vm.toggleAlerts()" class="fas fa-plus"></span>
        <span ng-click="vm.clearAll()" class="top-alert-remove fas fa-ban"></span>
        <span ng-click="vm.removeAlert(vm.alerts[0])" class="top-alert-remove fas fa-trash-alt"></span>
        <span ng-click="vm.hideAlert()" class="top-alert-close fas fa-times"></span>
      </div>
    </div>
  </div>
  <div ng-if="vm.showAlerts && vm.alerts.length > 1" class="angular-animate alert-list">
    <div
      ng-repeat="x in vm.alerts.slice(1,5) | limitTo:5"
      class="top-alert-expand alert-list-item angular-animate"
      ng-class="x.level"
    >
      <div class="alert-text-icons-row">
        <div
          class="alert-date"
          tooltip-placement="right"
          uib-tooltip="{{x.time_created | date:'yyyy-MM-dd HH:mm:ss'}}"
        >
          {{x.time_created | relativeDate}}
        </div>
        <div ng-if="!x.options.isHtml" class="alert-text">{{x.message}}</div>
        <div ng-if="x.options.isHtml" class="alert-text" ng-bind-html="x.message"></div>
        <div class="icon-row">
          <span ng-click="vm.removeAlert(x)" class="top-alert-close fas fa-trash-alt"></span>
        </div>
      </div>
    </div>
  </div>
</div>
