<div class="modal-heading">
    <h3 class="modal-title" id="modal-title">{{'CHANGEPASSWORD' | translate}}</h3>
</div>
<form id="passwordForm" ng-submit="$ctrl.changePassword()">
    <div class="modal-body" id="modal-body">
        <label for="oldPw">{{'OLDPASSWORD' | translate}}</label>
        <input id="oldPw" type="password" ng-model="$ctrl.oldPw" class="form-control" required focused="true"></input>
        <div class="alert alert-danger" ng-if="$ctrl.errors.old_password.length > 0" ng-repeat="x in $ctrl.errors.old_password">
            <span>
                {{x}}
            </span>
        </div>
        <label for="pw1">{{'NEWPASSWORD' | translate}}</label>
        <input id="pw1" type="password" ng-model="$ctrl.pw1" class="form-control" required></input>
        <div class="alert alert-danger"ng-if="$ctrl.errors.new_password1.length > 0" ng-repeat="x in $ctrl.errors.new_password1">
            <span >{{x}}</span>
        </div>

        <label for="pw2">{{'REPEATPASSWORD' | translate}}</label>
        <input id="pw2" type="password" ng-model="$ctrl.pw2" class="form-control" required></input>
        <div class="alert alert-danger" ng-if="$ctrl.errors.new_password2.length > 0" ng-repeat="x in $ctrl.errors.new_password2" >
            <span>
                {{x}}
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">{{'CHANGEPASSWORD' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'CLOSE' | translate}}</button>
    </div>
</form>
