<div class="modal-heading">
    <h3 class="modal-title" id="modal-title">{{('TASKREPORTFOR' | translate)+ ' ' +currentStepTask.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="step-task-info">
        <b class="m-5px">{{'ID' | translate}}: </b>{{currentStepTask.id}}
        <div>
            <pre class="traceback" id="traceback_pre">{{currentStepTask.traceback}}</pre>
        </div>
    </div>
    <button class="btn btn-default" clipboard text="currentStepTask.traceback" on-copied="$ctrl.copied()">{{'COPYTRACEBACK' | translate}}</button>
    <span ng-if="$ctrl.tracebackCopied" class="fas fa-lg fa-check traceback-copied"></span>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()" focused="true">{{'CLOSE' | translate}}</button>
</div>
