{% load rev %}
<!doctype html>
<html ng-app="essarch" ng-controller="AppCtrl as vm" ng-keydown="vm.questionMarkListener($event)">
  <head ng-controller="HeadCtrl as vm">
    <link rel="stylesheet" type="text/css" href="{% rev "frontend/build/main.css" %}">

    <!--App -->
    <script src="{% rev "frontend/build/main.js" %}"></script>

    {% verbatim %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }</style>
    <title ng-bind="vm.pageTitle"></title>
    {% endverbatim %}
  </head>
  {% verbatim %}
  <body ui-view></body>
  {% endverbatim %}
  <NOSCRIPT>
    <h3>Enable Javascript to use this site.</h3>
  </NOSCRIPT>
</html>
