<div class="dashboard-stats content-wrapper">
  <h4>
    {{'DASHBOARD.SYSTEM' | translate}}
  </h4>
  <div class="flex-wrap align-items-center justify-content-evenly">
    <div class="p-base flex-column align-items-center">
      <h4 class="text-center pb-base">
        {{'INFORMATION_PACKAGES' | translate}}
      </h4>
      <h2 class="text-center text-bold">
        {{vm.stats.information_packages}}
      </h2>
    </div>
    <div class="p-base flex-column align-items-center">
      <h4 class="text-center pb-base">
        {{'DASHBOARD.ORDERED_INFORMATION_PACKAGES' | translate}}
      </h4>
      <h2 class="text-center text-bold">
        {{vm.stats.ordered_information_packages}}
      </h2>
    </div>
    <div class="p-base flex-column align-items-center">
      <h4 class="text-center pb-base">
        {{'DASHBOARD.APPRAISALS' | translate}}
      </h4>
      <h2 class="text-center text-bold">
        {{vm.stats.appraisals}}
      </h2>
    </div>
    <div class="p-base flex-column align-items-center">
      <h4 class="text-center pb-base">
        {{'DASHBOARD.TOTAL_OBJECT_SIZE' | translate}}
      </h4>
      <h2 class="text-center text-bold">
        {{vm.stats.total_object_size | filesize}}
      </h2>
    </div>
  </div>
  <hr />
  <h4>
    {{'DASHBOARD.USERS_AND_PERMISSIONS' | translate}}
  </h4>
  <div class="flex-wrap align-items-center justify-content-evenly">
    <div class="p-base flex-column align-items-center">
      <h4 class="text-center pb-base">
        {{'DASHBOARD.USERS' | translate}}
      </h4>
      <h2 class="text-center text-bold">
        {{vm.stats.users}}
      </h2>
    </div>
    <div class="p-base flex-column align-items-center">
      <h4 class="text-center pb-base">
        {{'DASHBOARD.ROLES' | translate}}
      </h4>
      <h2 class="text-center text-bold">
        {{vm.stats.roles}}
      </h2>
    </div>
    <div class="p-base flex-column align-items-center">
      <h4 class="text-center pb-base">
        {{'DASHBOARD.PERMISSIONS' | translate}}
      </h4>
      <h2 class="text-center text-bold">
        {{vm.stats.permissions}}
      </h2>
    </div>
  </div>
  <div ng-if="vm.stats.tags.length">
    <hr />
    <h4>
      {{'DASHBOARD.ARCHIVAL_DESCRIPTION' | translate}}
    </h4>
    <div class="flex-wrap align-items-center justify-content-evenly">
      <div class="p-base flex-column align-items-center" ng-repeat="x in vm.stats.tags">
        <h4 class="text-center pb-base">
          {{x.type}}
        </h4>
        <h2 class="text-center text-bold">
          {{x.total}}
        </h2>
      </div>
    </div>
  </div>
</div>
