<div class="status-tree-grid table-container">
    <div class="state-tree-table-head">
        <h4 class="m-0">
            {{'TASKS' | translate}}
        </h4>
        <div class="refresh-icon">
            <span style="float: right; margin-bottom: 5px;" ng-click="statusViewUpdate(ip)" class="clickable angular-animate fas fa-sync-alt fa-lg" ng-class="{'fa-sync-alt-animate': myTreeControl.scope.stateLoading }"  uib-tooltip="{{'REFRESHTABLEDESC' | translate}}" tooltip-placement="auto left" tooltip-append-to-body="true"></span>
        </div>
    </div>
    <tree-grid
        col-defs="col_defs"
        tree-data="tree_data"
        tree-control="myTreeControl"
        expand-on="expanding_property"
        icon-leaf="{{branch.flow_type == 'task' ? 'fas fa-bolt':''}}"
        icon-expand="fas fa-plus"
        on-click="stepTaskClick(branch)"
        on-select="stepClick(branch)"
        icon-collapse="fas fa-minus"
        template-url="treeGrid.html">
    </tree-grid>
</div>
