<div class="version-info" ng-if="sysInfo">
    <p><b>Version:</b> {{sysInfo.version.version}} - {{sysInfo.version.full}}</p>
    <p><b>ESSArch Core:</b> {{sysInfo.core_version.version}} - {{sysInfo.core_version.full}}</p>

    <div class="flex-wrap">
        <sys-info-component style="flex-grow: 1; flex-basis: 0; margin: 2px;" name="Python" version="{{sysInfo.python}}" icon="fab fa-python"/>
        <sys-info-component style="flex-grow: 1; flex-basis: 0; margin: 2px;" name="{{sysInfo.platform.os}}" version="{{sysInfo.platform.version}}" icon="{{sysInfo.platform.icon}}"/>
        <sys-info-component style="flex-grow: 1; flex-basis: 0; margin: 2px;" name="{{sysInfo.database.vendor}}" version="{{sysInfo.database.version}}" icon="fas fa-database"/>
        <sys-info-component style="flex-grow: 1; flex-basis: 0; margin: 2px;" name="{{'TIME' | translate}}" version="{{sysInfo.time_checked | date: 'yyyy-MM-dd HH:mm'}}" icon="fas fa-clock"/>
    </div>
    <p><b>{{'HOSTNAME' | translate}}:</b> {{sysInfo.hostname}}</p>
    <h4>{{'SETTINGSFLAGS' | translate}}</h4>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="flag in sysInfo.settings_flags" ng-class="{'unexpected': flag.unexpected}">
                <td>
                    {{flag.name}}
                </td>
                <td>
                    {{flag.actual.toString().toUpperCase()}}
                </td>
            </tr>
        </tbody>
    </table>
    <p><b>{{'PYTHONPACKAGES' | translate}}: </b> {{sysInfo.python_packages.join(' ')}}</p>
</div>
<div ng-if="!sysInfo" style="width: 50%;">
    <p>{{'LOADING' | translate}}...</p>
</div>
