<div class="version-info" style="width: 50%;" ng-if="sysInfo">
    <p><b>Version:</b> v{{sysInfo.version}}</p>
    <p><b>{{'TIME' | translate}}:</b> {{sysInfo.time_checked | date: 'yyyy-MM-dd HH:mm'}}</p>
    <p><b>{{'HOSTNAME' | translate}}:</b> {{sysInfo.hostname}}</p>
    <h4>{{'SETTINGSFLAGS' | translate}}</h4>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="flag in sysInfo.settings_flags" ng-class="{'unexpected': flag.unexpected}">
                <td>
                    {{flag.name}}
                </td>
                <td>
                    {{flag.actual.toString().toUpperCase()}}
                </td>
            </tr>
        </tbody>
    </table>
    <h4>{{'VERSIONINFORMATION' | translate}}</h4>
    <p><b>{{'DATABASE' | translate}}: </b> {{sysInfo.database.vendor}} {{sysInfo.database.version}}</p>
    <p><b>{{'PYTHONPACKAGES' | translate}}: </b> {{sysInfo.python_packages.join(' ')}}</p>
</div>
<div ng-if="!sysInfo" style="width: 50%;">
    <p>{{'LOADING' | translate}}...</p>
</div>
