<div class="modal-heading step-info-modal-head">
  <h3
    class="modal-title"
    id="modal-title"
    uib-tooltip="{{ currentStepTask.name }}"
    tooltip-placement="auto top"
    tooltip-append-to-body="true"
  >
    {{ currentStepTask.name }}
  </h3>
  <div class="refresh-icon">
    <span
      ng-click="getStep(currentStepTask)"
      class="clickable angular-animate fas fa-sync-alt fa-lg"
      ng-class="{'fa-sync-alt-animate': stepTaskLoading }"
      uib-tooltip="{{ 'REFRESH' | translate }}"
      tooltip-placement="auto left"
      tooltip-append-to-body="true"
    ></span>
  </div>
</div>
<div class="modal-body" id="modal-body">
  <div class="step-task-info">
    <div class="row">
      <div class="col-12 col-md-6" ng-if="currentStepTask.name">
        <label>{{ "NAME" | translate }}</label>
        <p class="white-space-nowrap m-0 py-base">{{ currentStepTask.name }}</p>
      </div>
      <div class="col-12 col-md-6">
        <label>{{ "IDENTIFICATION" | translate }}</label>
        <br />
        <div class="btn-group id-button">
          <button
            class="btn btn-default"
            clipboard
            text="currentStepTask.id"
            on-copied="$ctrl.idCopyDone()"
            uib-tooltip="{{ 'COPYID' | translate }}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
          >
            <i
              class="fas"
              ng-class="{'fa-clipboard': !$ctrl.idCopied, 'fa-clipboard-check color-success': $ctrl.idCopied}"
            ></i>
          </button>
          <button
            class="btn btn-default"
            uib-tooltip="{{ 'IDENTIFICATION' | translate }}"
            tooltip-placement="auto top"
            tooltip-append-to-body="true"
          >
            {{ currentStepTask.id }}
          </button>
        </div>
      </div>
    </div>
    <label>
      {{ "STATUS" | translate }}
    </label>
    <uib-progressbar
      class="progress"
      ng-class="{'active progress-striped': currentStepTask.status == 'STARTED'}"
      animate="true"
      value="currentStepTask.progress"
      type="{{ mapStepStateProgress(currentStepTask) }}"
      uib-tooltip="{{ currentStepTask.status | translate }}"
      tooltip-placement="auto top"
      tooltip-append-to-body="true"
    >
      <b>{{ currentStepTask.progress | number : 0 }}%</b>
    </uib-progressbar>
    <div class="py-2">
      <label>{{ "CREATED" | translate }}:</label>
      <p>{{ currentStepTask.time_created | date: "yyyy-MM-dd HH:mm:ss" }}</p>
    </div>
    <p>
      <b>{{ "TASKS" | translate }}: </b> {{ currentStepTask.task_count }} ({{ currentStepTask.failed_task_count }}
      {{'FAILED' | translate}})
    </p>
    <br />
    <table class="table" style="margin: 5px;">
      <tbody>
        <tr
          ng-if="currentStepTask.status == 'FAILURE' && currentStepTask.exception !== null && currentStepTask.exception !== ''"
        >
          <td>
            <b>{{ ("ERROR.ERROR" | translate) + ":" }}</b>
            {{ currentStepTask.exception }}
          </td>
        </tr>
      </tbody>
    </table>
    <button
      ng-if="currentStepTask.status == 'FAILURE' && currentStepTask.traceback !== null && currentStepTask.traceback !== ''"
      class="btn btn-default"
      ng-click="tracebackModal(currentStepTask)"
    >
      {{ "SEETRACEBACK" | translate }}
    </button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" focused="true">
    {{ "CLOSE" | translate }}
  </button>
</div>
