<!doctype html>
<html ng-app="formlyApp" ng-controller="MainController as vm">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/templateMaker/angular/bootstrap/dist/css/bootstrap.css">
        {# <link rel="stylesheet" type="text/css" href="/static/templateMaker/angular/angular-tree-control/css/tree-control.css">#}
        {# <link rel="stylesheet" type="text/css" href="/static/templateMaker/angular/angular-tree-control/css/tree-control-attribute.css">#}
        <link rel="stylesheet" type="text/css" href="/static/templateMaker/scripts/style.css">
        <style>
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        </style>
        <title>Demo2</title
        <!--Angular Scripts -->
        <script src="/static/templateMaker/angular/api-check/dist/api-check.js"></script>
        <script src="/static/templateMaker/angular/angular/angular.js"></script>
        <script src="/static/templateMaker/angular/angular-formly/dist/formly.js"></script>
        <script src="/static/templateMaker/angular/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
        {# <script src="/static/templateMaker/angular/angular-tree-control/angular-tree-control.js"></script>#}
        <!--App -->
        <script src="/static/demo/scripts/demo2App.js"></script>
        <!--Controllers-->
        <script src="/static/demo/scripts/demo2Controller.js"></script>


    </head>
    <body>

    <div class="container col-md-4">
        <form>
            {% csrf_token %}
            <formly-form model="vm.model" fields="vm.fields" form="vm.form">
                <button type="submit" class="btn btn-primary" ng-click="vm.submitForm()" ng-disabled="vm.form.$invalid">Submit</button>
            </formly-form>
        </form>
    </div>

    </body>
</html>
